n8n-workflows/workflows/Form Confirmation Email.json
{
  "name": "Form Confirmation Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "form-confirmation-email",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "71e5a652-c9f2-4ea8-b571-c8ad05f24580",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -384,
        400
      ],
      "webhookId": "form-confirmation-email"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "kXK1WDkFCo7AsBSs",
          "mode": "list",
          "cachedResultUrl": "/workflow/kXK1WDkFCo7AsBSs",
          "cachedResultName": "Sentry Init"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -176,
        400
      ],
      "id": "73b464fc-959c-4f5b-9a22-3315d10cba86",
      "name": "Call 'Sentry Init'"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "responses",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.responseId }}"
            }
          ]
        }
      },
      "id": "360709cc-deed-42ec-a76d-b02a36e462ad",
      "name": "Fetch Response",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        48,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "f048XNg2A6zhwlWZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "survey_links",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.survey_link_id }}"
            }
          ]
        }
      },
      "id": "a6662c05-5176-4078-8092-63f619908cc0",
      "name": "Fetch Survey Link",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        272,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "f048XNg2A6zhwlWZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "surveys",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.survey_id }}"
            }
          ]
        }
      },
      "id": "d025babb-b134-4ca5-a8e5-c5e5203ffe8f",
      "name": "Fetch Survey",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        496,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "f048XNg2A6zhwlWZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "email_templates",
        "filters": {
          "conditions": [
            {
              "keyName": "tenant_id",
              "keyValue": "={{ $('Fetch Response').first().json.tenant_id }}"
            },
            {
              "keyName": "type",
              "keyValue": "form_confirmation"
            },
            {
              "keyName": "is_active",
              "keyValue": true
            }
          ]
        },
        "limit": 1
      },
      "id": "9d5a7d45-7a50-4e39-b14a-f377f3b3d448",
      "name": "Fetch Email Template",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        720,
        400
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "f048XNg2A6zhwlWZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $('Fetch Response').first().json;\nconst surveyLink = $('Fetch Survey Link').first().json;\nconst survey = $('Fetch Survey').first().json;\n\nconst clientEmail = surveyLink.client_email;\nif (!clientEmail) {\n  throw new Error(`[Email] No client_email for response ${response.id}`);\n}\n\n// Extract client name from text answers\nconst answers = response.answers || {};\nconst questions = survey.questions || [];\nlet clientName = 'Szanowna Pani / Szanowny Panie';\n\nconst textQuestions = questions\n  .filter(q => q.type === 'text')\n  .sort((a, b) => (a.order || 0) - (b.order || 0));\n\nfor (const q of textQuestions) {\n  const answer = answers[q.id];\n  if (answer && typeof answer === 'string' && answer.trim()) {\n    clientName = answer.trim();\n    break;\n  }\n}\n\n// Use template from DB if available, fall back to hardcoded\nconst templateItems = $('Fetch Email Template').all();\nconst template = templateItems.length > 0 && templateItems[0].json?.id ? templateItems[0].json : null;\n\nlet subject, html;\n\nif (template && template.html_body) {\n  // Use DB template with variable substitution\n  subject = (template.subject || 'Dziękujemy za wypełnienie formularza')\n    .replace(/\\{\\{surveyTitle\\}\\}/g, survey.title)\n    .replace(/\\{\\{clientName\\}\\}/g, clientName)\n    .replace(/\\{\\{companyName\\}\\}/g, survey.title); // fallback\n\n  html = template.html_body\n    .replace(/\\{\\{clientName\\}\\}/g, clientName)\n    .replace(/\\{\\{surveyTitle\\}\\}/g, survey.title)\n    .replace(/\\{\\{companyName\\}\\}/g, survey.title); // fallback until tenant name fetched\n} else {\n  // Fallback: hardcoded HTML\n  subject = `Dziękujemy za wypełnienie formularza - ${survey.title}`;\n  html = `<!DOCTYPE html>\\n<html lang=\\\"pl\\\">\\n<head><meta charset=\\\"UTF-8\\\"></head>\\n<body style=\\\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px;color:#333\\\">\\n  <div style=\\\"border-bottom:3px solid #1a1a2e;padding-bottom:16px;margin-bottom:24px\\\">\\n    <h2 style=\\\"color:#1a1a2e;margin:0\\\">Potwierdzenie otrzymania formularza</h2>\\n  </div>\\n  <p>Szanowny/a <strong>${clientName}</strong>,</p>\\n  <p>Dziękujemy za wypełnienie formularza <strong>${survey.title}</strong>.</p>\\n  <p>Otrzymaliśmy Twoje zgłoszenie i wkrótce się z Tobą skontaktujemy.</p>\\n  <br>\\n  <p style=\\\"color:#999;font-size:12px\\\">Wiadomość wysłana automatycznie. Prosimy nie odpowiadać na ten email.</p>\\n</body>\\n</html>`;\n}\n\nreturn {\n  to: clientEmail,\n  subject,\n  html,\n  tenant_id: response.tenant_id\n};\n"
      },
      "id": "3240a973-f5c3-4c53-81d8-7738ca3e1100",
      "name": "Build Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        400
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IL4nS-1FRcLA2IlSkvvKY",
          "mode": "list",
          "cachedResultUrl": "/workflow/IL4nS-1FRcLA2IlSkvvKY",
          "cachedResultName": "Send Email"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1168,
        400
      ],
      "id": "53df1cfe-a5d7-4e5c-ab28-c5a95f947abc",
      "name": "Call 'Send Email'"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "responseId": "064e41be-eb7b-442f-b45b-df1b773f29ec"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call 'Sentry Init'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Sentry Init'": {
      "main": [
        [
          {
            "node": "Fetch Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Response": {
      "main": [
        [
          {
            "node": "Fetch Survey Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Survey Link": {
      "main": [
        [
          {
            "node": "Fetch Survey",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Survey": {
      "main": [
        [
          {
            "node": "Fetch Email Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Email Template": {
      "main": [
        [
          {
            "node": "Build Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email": {
      "main": [
        [
          {
            "node": "Call 'Send Email'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "286b1228-1ae3-41df-a0fa-7708aeb4f57b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b46d0b13d69880a2fec430102877b55af4e44991549a68a3e78cd50a4dc1a09e"
  },
  "id": "49So2RTy205GFKC0HR4Kr",
  "tags": []
}
