n8n-workflows/workflows/Sentry Init.json
{
  "name": "Sentry Init",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const Sentry = require('@sentry/node');\n\nif (!Sentry.getClient()) {\n  try {\n    Sentry.init({\n      dsn: 'https://65d16a394a93442fb661943d33474b60@glitchtip.trustcode.pl/1',\n      environment: 'production',\n      tracesSampleRate: 1.0,\n      sendDefaultPii: true,\n      enableLogs: true,\n      initialScope: {\n        tags: {\n          workflow: 'survey-analysis',\n          node: 'transform-qa'\n        }\n      }\n    })\n  } catch (e) {\n    // Sentry init failed silently\n  }\n}\n\nreturn $input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -352
      ],
      "id": "aa7e7286-17f9-4a95-998e-078656231d84",
      "name": "Setup Sentry"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -352
      ],
      "id": "4e2044e9-63a7-4e5b-97cd-96c9776996f1",
      "name": "Return"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "4692120d-392c-4a41-83fe-d697dcd10322",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        256,
        -352
      ]
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "responseId": "064e41be-eb7b-442f-b45b-df1b773f29ec"
        }
      }
    ]
  },
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Setup Sentry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Sentry": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d954578d-a875-4122-8a6a-cb9a8173634b",
  "meta": {
    "instanceId": "b46d0b13d69880a2fec430102877b55af4e44991549a68a3e78cd50a4dc1a09e"
  },
  "id": "kXK1WDkFCo7AsBSs",
  "tags": []
}