n8n-workflows/workflows/Step - Send Email Handler.json
{
  "name": "Step - Send Email Handler",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "seh-0001-0000-0000-000000000001",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract step input and determine what to fetch\nconst item = $input.first().json;\nconst { resolvedConfig, variableContext, tenantId } = item;\n\n// Pass through for downstream Supabase nodes\nreturn {\n  json: {\n    ...item,\n    templateId: resolvedConfig.template_id || null,\n    configuredTo: resolvedConfig.to || null,\n    configuredSubject: resolvedConfig.subject || 'Notification',\n    configuredHtml: resolvedConfig.html_body || '<p>Notification</p>',\n    responseId: variableContext.responseId || null,\n  }\n};\n"
      },
      "id": "seh-0001-0000-0000-000000000002",
      "name": "Extract Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "email_templates",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.templateId }}"
            }
          ]
        },
        "returnAll": false,
        "limit": 1
      },
      "id": "seh-0001-0000-0000-000000000003",
      "name": "Fetch Email Template",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 100],
      "credentials": {
        "supabaseApi": {
          "id": "f048XNg2A6zhwlWZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "responses",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.responseId }}"
            }
          ]
        },
        "returnAll": false,
        "limit": 1
      },
      "id": "seh-0001-0000-0000-000000000004",
      "name": "Fetch Response",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 500],
      "credentials": {
        "supabaseApi": {
          "id": "f048XNg2A6zhwlWZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =============================================================\n// Resolve Variables + Build Email Payload\n// =============================================================\n// Merges template data, resolves recipient from response chain,\n// resolves variables in subject/html, returns final payload.\n// =============================================================\n\nfunction resolveVariables(template, context) {\n  if (typeof template !== 'string') return template;\n  return template.replace(/\\{\\{(\\s*[\\w.]+\\s*)\\}\\}/g, (_, rawKey) => {\n    const key = rawKey.trim();\n    const value = getNestedValue(context, key);\n    return (value !== undefined && value !== null) ? String(value) : `{{${key}}}`;\n  });\n}\n\nfunction getNestedValue(obj, path) {\n  const parts = path.split('.');\n  let current = obj;\n  for (const part of parts) {\n    if (current === null || current === undefined || typeof current !== 'object') return undefined;\n    current = current[part];\n  }\n  return current;\n}\n\ntry {\n  // Get the original input from Extract Input\n  const extractInput = $('Extract Input').first().json;\n  const { variableContext, tenantId, configuredTo, configuredSubject, configuredHtml, templateId } = extractInput;\n\n  let subject = configuredSubject;\n  let html = configuredHtml;\n\n  // Try to get template data\n  if (templateId) {\n    try {\n      const templateItems = $('Fetch Email Template').all();\n      if (templateItems.length && templateItems[0].json && templateItems[0].json.html_body) {\n        subject = templateItems[0].json.subject || subject;\n        html = templateItems[0].json.html_body;\n      }\n    } catch (e) {\n      // Template fetch may have failed — use configured values\n    }\n  }\n\n  // Determine recipient\n  let to = configuredTo;\n  if (!to && extractInput.responseId) {\n    try {\n      const responseItems = $('Fetch Response').all();\n      if (responseItems.length && responseItems[0].json && responseItems[0].json.survey_link_id) {\n        // We have the survey_link_id — need to fetch survey_link for notification_email\n        // Store it for the next Supabase Get node\n        return {\n          json: {\n            ...extractInput,\n            subject,\n            html,\n            to: null,\n            surveyLinkId: responseItems[0].json.survey_link_id,\n            needsSurveyLinkFetch: true,\n          }\n        };\n      }\n    } catch (e) {\n      // Response fetch may have failed\n    }\n  }\n\n  if (!to) throw new Error('No recipient email resolved for send_email step');\n\n  // Resolve variables in subject and html\n  subject = resolveVariables(subject, variableContext);\n  html = resolveVariables(html, variableContext);\n\n  return {\n    json: {\n      ...extractInput,\n      emailPayload: { to, subject, html, tenant_id: tenantId },\n      needsSurveyLinkFetch: false,\n    }\n  };\n} catch (err) {\n  const extractInput = $('Extract Input').first().json;\n  return {\n    json: {\n      ...extractInput,\n      stepResult: { success: false, error: err.message },\n      needsSurveyLinkFetch: false,\n    }\n  };\n}\n"
      },
      "id": "seh-0001-0000-0000-000000000005",
      "name": "Resolve Variables",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "survey_links",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.surveyLinkId }}"
            }
          ]
        },
        "returnAll": false,
        "limit": 1
      },
      "id": "seh-0001-0000-0000-000000000006",
      "name": "Fetch Survey Link",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [940, 500],
      "credentials": {
        "supabaseApi": {
          "id": "f048XNg2A6zhwlWZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Final recipient resolution after survey_link fetch\nfunction resolveVariables(template, context) {\n  if (typeof template !== 'string') return template;\n  return template.replace(/\\{\\{(\\s*[\\w.]+\\s*)\\}\\}/g, (_, rawKey) => {\n    const key = rawKey.trim();\n    const value = getNestedValue(context, key);\n    return (value !== undefined && value !== null) ? String(value) : `{{${key}}}`;\n  });\n}\n\nfunction getNestedValue(obj, path) {\n  const parts = path.split('.');\n  let current = obj;\n  for (const part of parts) {\n    if (current === null || current === undefined || typeof current !== 'object') return undefined;\n    current = current[part];\n  }\n  return current;\n}\n\ntry {\n  const prev = $('Resolve Variables').first().json;\n\n  // If we already have a payload or error, pass through\n  if (prev.emailPayload || prev.stepResult) {\n    return { json: prev };\n  }\n\n  const surveyLinkItems = $('Fetch Survey Link').all();\n  let to = null;\n  if (surveyLinkItems.length && surveyLinkItems[0].json && surveyLinkItems[0].json.notification_email) {\n    to = surveyLinkItems[0].json.notification_email;\n  }\n\n  if (!to) throw new Error('No recipient email resolved for send_email step');\n\n  let subject = resolveVariables(prev.subject, prev.variableContext);\n  let html = resolveVariables(prev.html, prev.variableContext);\n\n  return {\n    json: {\n      ...prev,\n      emailPayload: { to, subject, html, tenant_id: prev.tenantId },\n    }\n  };\n} catch (err) {\n  const prev = $('Resolve Variables').first().json;\n  return {\n    json: {\n      ...prev,\n      stepResult: { success: false, error: err.message },\n    }\n  };\n}\n"
      },
      "id": "seh-0001-0000-0000-000000000007",
      "name": "Finalize Recipient",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.stepResult !== undefined && $json.stepResult !== null }}",
                    "rightValue": "={{ true }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "seh-already-failed"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "seh-0001-0000-0000-000000000008",
      "name": "Check Error",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1400, 300]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IL4nS-1FRcLA2IlSkvvKY",
          "mode": "list",
          "cachedResultUrl": "/workflow/IL4nS-1FRcLA2IlSkvvKY",
          "cachedResultName": "Send Email"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [1620, 400],
      "id": "seh-0001-0000-0000-000000000009",
      "name": "Call Send Email"
    },
    {
      "parameters": {
        "jsCode": "// Build success result after email sent\nconst item = $('Finalize Recipient').first().json;\nreturn {\n  json: {\n    stepResult: {\n      success: true,\n      outputPayload: {\n        emailSent: true,\n        recipientEmail: item.emailPayload.to,\n      },\n    },\n  }\n};\n"
      },
      "id": "seh-0001-0000-0000-000000000010",
      "name": "Build Success Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1840, 400]
    },
    {
      "parameters": {
        "jsCode": "// Pass through error result\nconst item = $input.first().json;\nreturn {\n  json: {\n    stepResult: item.stepResult,\n  }\n};\n"
      },
      "id": "seh-0001-0000-0000-000000000011",
      "name": "Pass Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1620, 200]
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Extract Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Input": {
      "main": [
        [
          {
            "node": "Fetch Email Template",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Resolve Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Email Template": {
      "main": [
        [
          {
            "node": "Resolve Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Response": {
      "main": [
        [
          {
            "node": "Resolve Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Variables": {
      "main": [
        [
          {
            "node": "Fetch Survey Link",
            "type": "main",
            "index": 0
          },
          {
            "node": "Finalize Recipient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Survey Link": {
      "main": [
        [
          {
            "node": "Finalize Recipient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Recipient": {
      "main": [
        [
          {
            "node": "Check Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Error": {
      "main": [
        [
          {
            "node": "Pass Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Send Email": {
      "main": [
        [
          {
            "node": "Build Success Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "00000000-0000-0000-0000-000000000002",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "",
  "tags": []
}
