n8n-workflows/workflows/Step - AI Action Handler.json
{
  "name": "Step - AI Action Handler",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "aih-0001-0000-0000-000000000001",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "// =============================================================\n// Build Prompt — resolve variables in prompt template\n// =============================================================\n\nconst item = $input.first().json;\nconst { resolvedConfig, variableContext, tenantId } = item;\n\nconst prompt = resolvedConfig.prompt || '';\nconst outputSchema = resolvedConfig.output_schema || [];\n\n// Build context string from variable context\nconst contextEntries = Object.entries(variableContext)\n  .map(([k, v]) => `${k}: ${JSON.stringify(v)}`)\n  .join('\\n');\n\nreturn {\n  json: {\n    ...item,\n    aiPayload: {\n      prompt,\n      context: contextEntries,\n      output_schema: outputSchema,\n      tenant_id: tenantId,\n    },\n  }\n};\n"
      },
      "id": "aih-0001-0000-0000-000000000002",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "xaU50vf4eiNTeqSf",
          "mode": "list",
          "cachedResultUrl": "/workflow/xaU50vf4eiNTeqSf",
          "cachedResultName": "MiniMax Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [460, 300],
      "id": "aih-0001-0000-0000-000000000003",
      "name": "Call MiniMax Agent"
    },
    {
      "parameters": {
        "jsCode": "// =============================================================\n// Parse AI Result — extract structured output from MiniMax Agent\n// =============================================================\n\ntry {\n  const aiOutput = $('Call MiniMax Agent').first().json;\n  let parsedOutput = {};\n\n  if (aiOutput && aiOutput.content && aiOutput.content[0] && aiOutput.content[0].text) {\n    try {\n      parsedOutput = JSON.parse(aiOutput.content[0].text);\n    } catch {\n      parsedOutput = { aiResponse: aiOutput.content[0].text };\n    }\n  } else if (aiOutput && aiOutput.text) {\n    try {\n      parsedOutput = JSON.parse(aiOutput.text);\n    } catch {\n      parsedOutput = { aiResponse: aiOutput.text || JSON.stringify(aiOutput) };\n    }\n  } else {\n    parsedOutput = { aiResponse: JSON.stringify(aiOutput) };\n  }\n\n  return {\n    json: {\n      stepResult: {\n        success: true,\n        outputPayload: parsedOutput,\n      },\n    }\n  };\n} catch (e) {\n  return {\n    json: {\n      stepResult: {\n        success: false,\n        error: `AI action failed: ${e.message}`,\n      },\n    }\n  };\n}\n"
      },
      "id": "aih-0001-0000-0000-000000000004",
      "name": "Parse AI Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Call MiniMax Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call MiniMax Agent": {
      "main": [
        [
          {
            "node": "Parse AI Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "00000000-0000-0000-0000-000000000003",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "",
  "tags": []
}
