n8n-workflows/workflows/Step - Delay Handler.json
{
  "name": "Step - Delay Handler",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "d1ba973a-0387-43d5-880d-ac1796577b98",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -464,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// =============================================================\n// Compute Duration — calculate delay in seconds from config\n// =============================================================\n\nconst item = $input.first().json;\nconst config = item.resolvedConfig || item.step.step_config;\n\nconst value = Number(config.value) || 1;\nconst unit = config.unit || 'minutes';\nconst multipliers = { minutes: 60, hours: 3600, days: 86400 };\nconst seconds = value * (multipliers[unit] || 60);\n\nconst resumeAt = new Date(Date.now() + seconds * 1000).toISOString();\n\nreturn {\n  json: {\n    ...item,\n    delaySeconds: seconds,\n    resumeAt,\n  }\n};\n"
      },
      "id": "af1e3d85-3b2c-4aca-b514-74ab196a5597",
      "name": "Compute Duration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        112
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "workflow_step_executions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.currentStepExecId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "waiting"
            },
            {
              "fieldId": "resume_at",
              "fieldValue": "={{ $json.resumeAt }}"
            }
          ]
        }
      },
      "id": "c7e9af75-e644-4280-ae69-dfc09558a23e",
      "name": "Mark Step Waiting",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "f048XNg2A6zhwlWZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "workflow_executions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.executionId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "paused"
            }
          ]
        }
      },
      "id": "9f4b40d0-a5c6-4980-a0a1-5c830f2a33b5",
      "name": "Mark Execution Paused",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "credentials": {
        "supabaseApi": {
          "id": "f048XNg2A6zhwlWZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge data from both Supabase nodes and pass delay info forward\nconst computeData = $('Compute Duration').first().json;\nreturn {\n  json: {\n    delaySeconds: computeData.delaySeconds,\n    executionId: computeData.executionId,\n    currentStepExecId: computeData.currentStepExecId,\n  }\n};\n"
      },
      "id": "673c9eeb-d371-4ae3-8700-2a3dcf24889e",
      "name": "Merge Before Wait",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        112
      ]
    },
    {
      "parameters": {
        "amount": "={{ $json.delaySeconds }}",
        "unit": "seconds"
      },
      "id": "8f4f111f-4f2e-47f6-904a-f050531be787",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        464,
        112
      ],
      "webhookId": "dly-wait-webhook-0001"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "workflow_step_executions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Merge Before Wait').first().json.currentStepExecId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "completed_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "output_payload",
              "fieldValue": "={{ { delay_completed: true, duration_seconds: $('Merge Before Wait').first().json.delaySeconds } }}"
            }
          ]
        }
      },
      "id": "1f0a9541-0b9f-4ed6-a1bf-ba8ca6fcb61a",
      "name": "Mark Step Completed",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        688,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "f048XNg2A6zhwlWZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "workflow_executions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Merge Before Wait').first().json.executionId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "running"
            }
          ]
        }
      },
      "id": "03edf8de-dcb3-47a9-b457-40106420f095",
      "name": "Resume Execution",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        688,
        208
      ],
      "credentials": {
        "supabaseApi": {
          "id": "f048XNg2A6zhwlWZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Return result — alreadyPersisted because we wrote DB directly\nconst computeData = $('Merge Before Wait').first().json;\nreturn {\n  json: {\n    stepResult: {\n      success: true,\n      outputPayload: {\n        delay_completed: true,\n        duration_seconds: computeData.delaySeconds,\n      },\n    },\n    alreadyPersisted: true,\n  }\n};\n"
      },
      "id": "27dd37bc-ab5b-46a8-80a8-05adaeaded2f",
      "name": "Build Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        112
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Compute Duration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Duration": {
      "main": [
        [
          {
            "node": "Mark Step Waiting",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark Execution Paused",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Step Waiting": {
      "main": [
        [
          {
            "node": "Merge Before Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Execution Paused": {
      "main": [
        [
          {
            "node": "Merge Before Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Before Wait": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Mark Step Completed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Resume Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Step Completed": {
      "main": [
        [
          {
            "node": "Build Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Execution": {
      "main": [
        [
          {
            "node": "Build Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "pEvMbZGHKOsqaHmK",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "d2432276-9691-4403-8c96-26d6f76ad55c",
  "meta": {
    "instanceId": "b46d0b13d69880a2fec430102877b55af4e44991549a68a3e78cd50a4dc1a09e"
  },
  "id": "EPhZj3Dru3pAU9RU",
  "tags": []
}