n8n-workflows/workflows/Survey Response AI Analysis.json
{
  "name": "Survey Response AI Analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "survey-analysis",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "34c6f016-e145-4bfd-87be-7f7283ee6dbb",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        256,
        -352
      ],
      "webhookId": "survey-analysis"
    },
    {
      "parameters": {
        "jsCode": "// Initialize Sentry\nconst Sentry = require('@sentry/node');\n\n// Get data from previous nodes\nconst webhook = $('Webhook').first().json;\nconst response = $('Fetch Response').first().json;\nconst survey = $('Fetch Survey').first().json;\n\n// Extract data\nconst responseId = webhook.body.responseId;\nconst { tenant_id, answers } = response;\nconst { title: surveyTitle, questions } = survey;\n\n// Breadcrumb: Processing started\n\nSentry.addBreadcrumb({\n  message: 'Transform Q&A: Processing started',\n  level: 'info',\n  data: {\n    responseId,\n    tenant_id,\n    surveyTitle,\n    totalQuestions: questions.length,\n    providedAnswers: Object.keys(answers).length\n  }\n});\n\n// Build Q&A pairs for AI context\nconst qaContext = questions\n  .sort((a, b) => a.order - b.order)\n  .map(q => {\n    const answer = answers[q.id];\n\n    // Format answer based on type\n    let formattedAnswer;\n    if (Array.isArray(answer)) {\n      formattedAnswer = answer.join(', ');\n    } else if (answer === undefined || answer === null) {\n      formattedAnswer = '(brak odpowiedzi)';\n    } else {\n      formattedAnswer = String(answer);\n    }\n\n    return {\n      question: q.question,\n      type: q.type,\n      answer: formattedAnswer,\n      required: q.required\n    };\n  });\n\n// Build AI prompt\nconst prompt = `\nPrzeanalizuj poniższe zgłoszenie klienta i oceń jego kwalifikację do konsultacji prawnej.\n\nTYTUŁ FORMULARZA: ${surveyTitle}\n\nODPOWIEDZI KLIENTA:\n${qaContext.map((qa, i) => `${i + 1}. ${qa.question}\\n   Odpowiedź: ${qa.answer}`).join('\\n\\n')}\n\nZADANIE:\nOceń to zgłoszenie pod kątem:\n1. **Pilność sprawy** - czy wymaga natychmiastowej reakcji (0-10)\n2. **Złożoność** - jak skomplikowana jest sprawa (0-10)\n3. **Wartość sprawy** - potencjalna wartość ekonomiczna dla kancelarii (0-10)\n4. **Prawdopodobieństwo sukcesu** - czy sprawa ma solidne podstawy (0-10)\n5. **Krótkie podsumowanie** - 1-2 zdania o sprawie\n6. **Rekomendacja** - czy warto umówić konsultację (QUALIFIED / DISQUALIFIED / NEEDS_MORE_INFO)\n7. **Uwagi dla prawnika** - maksymalnie 3 kluczowe punkty do omówienia na spotkaniu\n\nOdpowiedź TYLKO w formacie JSON:\n{\n  \"urgency_score\": 0-10,\n  \"complexity_score\": 0-10,\n  \"value_score\": 0-10,\n  \"success_probability\": 0-10,\n  \"summary\": \"krótkie podsumowanie\",\n  \"recommendation\": \"QUALIFIED | DISQUALIFIED | NEEDS_MORE_INFO\",\n  \"notes_for_lawyer\": [\"punkt 1\", \"punkt 2\", \"punkt 3\"]\n}\n`.trim();\n\nconst metadata = {\n  totalQuestions: questions.length,\n  answeredQuestions: qaContext.filter(qa => qa.answer !== '(brak odpowiedzi)').length\n};\n\n// Breadcrumb: Processing completed\nSentry.addBreadcrumb({\n  message: 'Transform Q&A: Processing completed',\n  level: 'info',\n  data: {\n    responseId,\n    answeredQuestions: metadata.answeredQuestions,\n    totalQuestions: metadata.totalQuestions,\n    promptLength: prompt.length,\n    hasAllRequiredAnswers: qaContext\n      .filter(qa => qa.required)\n      .every(qa => qa.answer !== '(brak odpowiedzi)')\n  }\n});\n\n// Return structured data for AI node\nreturn {\n  responseId,\n  tenant_id,\n  surveyTitle,\n  prompt,\n  metadata\n};\n"
      },
      "id": "e5b49154-1a46-43c7-93f8-c27d8caac657",
      "name": "Transform Q&A Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        -352
      ]
    },
    {
      "parameters": {
        "jsCode": "// Initialize Sentry\nconst Sentry = require('@sentry/node');\n\n// Get AI response (from AI Agent node)\nconst aiResponse = $input.first().json;\nconst previousData = $('Transform Q&A Data').first().json;\n\n// Breadcrumb: AI response received\nSentry.addBreadcrumb({\n  message: 'Parse Output: AI response received',\n  level: 'info',\n  data: {\n    responseId: previousData.responseId,\n    hasContent: !!aiResponse.content?.[0]?.text,\n    responseLength: aiResponse.content?.[0]?.text?.length || 0\n  }\n});\n\ntry {\n  // Parse AI response (Anthropic returns content in content[0].text)\n  let aiText = aiResponse.content[0].text;\n\n  // ✅ Remove markdown code blocks if present\n  if (aiText.includes('```')) {\n    // Extract JSON from ```json ... ``` wrapper\n    const jsonMatch = aiText.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/);\n    if (jsonMatch && jsonMatch[1]) {\n      aiText = jsonMatch[1];\n    } else {\n      // Fallback: simple strip\n      aiText = aiText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '');\n    }\n  }\n\n  // ✅ Trim whitespace\n  aiText = aiText.trim();\n\n  const aiAnalysis = JSON.parse(aiText);\n\n  // Structure for database (ai_qualification JSONB field)\n  const qualification = {\n    // Scores (0-10)\n    urgency_score: aiAnalysis.urgency_score,\n    complexity_score: aiAnalysis.complexity_score,\n    value_score: aiAnalysis.value_score,\n    success_probability: aiAnalysis.success_probability,\n\n    // Overall score (weighted average)\n    overall_score: parseFloat((\n      aiAnalysis.urgency_score * 0.3 +\n      aiAnalysis.value_score * 0.3 +\n      aiAnalysis.success_probability * 0.25 +\n      aiAnalysis.complexity_score * 0.15\n    ).toFixed(1)),\n\n    // Analysis\n    summary: aiAnalysis.summary,\n    recommendation: aiAnalysis.recommendation,\n    notes_for_lawyer: aiAnalysis.notes_for_lawyer || [],\n\n    // Metadata\n    analyzed_at: new Date().toISOString(),\n    model: 'claude-haiku-4-5',\n    version: '1.0'\n  };\n\n  // Determine status change based on recommendation\n  let newStatus = null;\n  if (aiAnalysis.recommendation === 'QUALIFIED') {\n    newStatus = 'qualified';\n  } else if (aiAnalysis.recommendation === 'DISQUALIFIED') {\n    newStatus = 'disqualified';\n  }\n  // NEEDS_MORE_INFO leaves status as 'new'\n\n  // Breadcrumb: Parsing succeeded\n  Sentry.addBreadcrumb({\n    message: 'Parse Output: Parsing succeeded',\n    level: 'info',\n    data: {\n      responseId: previousData.responseId,\n      recommendation: aiAnalysis.recommendation,\n      overall_score: qualification.overall_score,\n      newStatus: newStatus || 'new',\n      hasNotes: qualification.notes_for_lawyer.length > 0\n    }\n  });\n\n  return {\n    responseId: previousData.responseId,\n    tenant_id: previousData.tenant_id,\n    qualification,\n    newStatus: newStatus || 'new'\n  };\n\n} catch (error) {\n  // Breadcrumb: Parsing failed\n  Sentry.addBreadcrumb({\n    message: 'Parse Output: Parsing FAILED',\n    level: 'error',\n    data: {\n      responseId: previousData.responseId,\n      errorMessage: error.message,\n      errorType: error.name,\n      rawResponsePreview: aiResponse.content?.[0]?.text?.substring(0, 200) || 'N/A'\n    }\n  });\n \n  // If parsing fails, return error structure\n  return {\n    responseId: previousData.responseId,\n    tenant_id: previousData.tenant_id,\n    qualification: {\n      error: 'Failed to parse AI response',\n      raw_response: aiResponse.content?.[0]?.text || JSON.stringify(aiResponse),\n      analyzed_at: new Date().toISOString()\n    },\n    newStatus: 'new'\n  };\n}\n"
      },
      "id": "c83f103d-6fa2-473a-b724-48109a313e05",
      "name": "Parse & Structure Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        -352
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "survey_links",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.survey_link_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        912,
        -352
      ],
      "id": "8c23be21-fce0-4d75-90f5-f0a89ab7f9d4",
      "name": "Fetch Survey Link",
      "credentials": {
        "supabaseApi": {
          "id": "f048XNg2A6zhwlWZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "responses",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body.responseId }}"
            }
          ]
        }
      },
      "id": "534494f9-29c4-47c2-ad10-d0152a91a50e",
      "name": "Fetch Response",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        688,
        -352
      ],
      "credentials": {
        "supabaseApi": {
          "id": "f048XNg2A6zhwlWZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "surveys",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.survey_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1136,
        -352
      ],
      "id": "19d05d65-8ba8-4ff0-b3df-1f154303c34e",
      "name": "Fetch Survey",
      "credentials": {
        "supabaseApi": {
          "id": "f048XNg2A6zhwlWZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "claude-haiku-4-5-20251001"
        },
        "messages": {
          "values": [
            {
              "content": "={{ JSON.stringify($json) }}"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        1584,
        -352
      ],
      "id": "17cec8da-539d-46da-abeb-b0abd67ebbb9",
      "name": "Message a model",
      "credentials": {
        "anthropicApi": {
          "id": "R4saFWAglpjdYgD6",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "responses",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.responseId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "ai_qualification",
              "fieldValue": "={{ $json.qualification }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.newStatus }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "id": "c43f47bd-ce37-4504-9c3e-fbdb8737719b",
      "name": "Update Response with summary",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2160,
        -352
      ],
      "credentials": {
        "supabaseApi": {
          "id": "f048XNg2A6zhwlWZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "kXK1WDkFCo7AsBSs",
          "mode": "list",
          "cachedResultUrl": "/workflow/kXK1WDkFCo7AsBSs",
          "cachedResultName": "Sentry Init"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        464,
        -352
      ],
      "name": "Call Sentry Init",
      "id": "4f2542ab-c7b9-4c27-9431-82d8db2419d0"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.trustcode.pl",
            "user-agent": "PostmanRuntime/7.49.1",
            "content-length": "59",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br",
            "cache-control": "no-cache",
            "content-type": "application/json",
            "postman-token": "60647593-330d-4e2e-b663-f6fc164e2867",
            "x-forwarded-for": "31.61.228.95",
            "x-forwarded-host": "n8n.trustcode.pl",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "e659b6829b94",
            "x-real-ip": "31.61.228.95"
          },
          "params": {},
          "query": {},
          "body": {
            "responseId": "c3d4e5f6-a7b8-9012-cdef-333333333333"
          },
          "webhookUrl": "https://n8n.trustcode.pl/webhook/survey-analysis",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call Sentry Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Q&A Data": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Structure Output": {
      "main": [
        [
          {
            "node": "Update Response with summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Survey Link": {
      "main": [
        [
          {
            "node": "Fetch Survey",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Response": {
      "main": [
        [
          {
            "node": "Fetch Survey Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Survey": {
      "main": [
        [
          {
            "node": "Transform Q&A Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parse & Structure Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Sentry Init": {
      "main": [
        [
          {
            "node": "Fetch Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "errorWorkflow": "pEvMbZGHKOsqaHmK",
    "callerPolicy": "workflowsFromSameOwner",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3cdc6d47-ccdc-42f5-966b-45d9c9d683e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b46d0b13d69880a2fec430102877b55af4e44991549a68a3e78cd50a4dc1a09e"
  },
  "id": "jTU4vAtxadyhTe4r",
  "tags": []
}