n8n-workflows/workflows/Survey Response AI Analysis.json
{
  "name": "Survey Response AI Analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "survey-analysis",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "2904a810-bbf6-4a65-b8cb-321e8326449f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        1424,
        -16
      ],
      "webhookId": "survey-analysis"
    },
    {
      "parameters": {
        "jsCode": "// Initialize Sentry\nconst Sentry = require('@sentry/node');\n\n// Get data from previous nodes\nconst webhook = $('Webhook').first().json;\nconst response = $('Fetch Response').first().json;\nconst survey = $('Fetch Survey').first().json;\n\n// Extract data\nconst responseId = webhook.body.responseId;\nconst { tenant_id, answers } = response;\nconst { title: surveyTitle, questions } = survey;\n\n// Breadcrumb: Processing started\n\nSentry.addBreadcrumb({\n  message: 'Transform Q&A: Processing started',\n  level: 'info',\n  data: {\n    responseId,\n    tenant_id,\n    surveyTitle,\n    totalQuestions: questions.length,\n    providedAnswers: Object.keys(answers).length\n  }\n});\n\n// Build Q&A pairs for AI context\nconst qaContext = questions\n  .sort((a, b) => a.order - b.order)\n  .map(q => {\n    const answer = answers[q.id];\n\n    // Format answer based on type\n    let formattedAnswer;\n    if (Array.isArray(answer)) {\n      formattedAnswer = answer.join(', ');\n    } else if (answer === undefined || answer === null) {\n      formattedAnswer = '(brak odpowiedzi)';\n    } else {\n      formattedAnswer = String(answer);\n    }\n\n    return {\n      question: q.question,\n      type: q.type,\n      answer: formattedAnswer,\n      required: q.required\n    };\n  });\n\n// Build AI prompt\nconst prompt = `\nPrzeanalizuj poniższe zgłoszenie klienta i oceń jego kwalifikację do konsultacji prawnej.\n\nTYTUŁ FORMULARZA: ${surveyTitle}\n\nODPOWIEDZI KLIENTA:\n${qaContext.map((qa, i) => `${i + 1}. ${qa.question}\\n   Odpowiedź: ${qa.answer}`).join('\\n\\n')}\n\nZADANIE:\nOceń to zgłoszenie pod kątem:\n1. **Pilność sprawy** - czy wymaga natychmiastowej reakcji (0-10)\n2. **Złożoność** - jak skomplikowana jest sprawa (0-10)\n3. **Wartość sprawy** - potencjalna wartość ekonomiczna dla kancelarii (0-10)\n4. **Prawdopodobieństwo sukcesu** - czy sprawa ma solidne podstawy (0-10)\n5. **Krótkie podsumowanie** - 1-2 zdania o sprawie\n6. **Rekomendacja** - czy warto umówić konsultację (QUALIFIED / DISQUALIFIED / NEEDS_MORE_INFO)\n7. **Uwagi dla prawnika** - maksymalnie 3 kluczowe punkty do omówienia na spotkaniu\n\nOdpowiedź TYLKO w formacie JSON:\n{\n  \"urgency_score\": 0-10,\n  \"complexity_score\": 0-10,\n  \"value_score\": 0-10,\n  \"success_probability\": 0-10,\n  \"summary\": \"krótkie podsumowanie\",\n  \"recommendation\": \"QUALIFIED | DISQUALIFIED | NEEDS_MORE_INFO\",\n  \"notes_for_lawyer\": [\"punkt 1\", \"punkt 2\", \"punkt 3\"]\n}\n`.trim();\n\nconst metadata = {\n  totalQuestions: questions.length,\n  answeredQuestions: qaContext.filter(qa => qa.answer !== '(brak odpowiedzi)').length\n};\n\n// Breadcrumb: Processing completed\nSentry.addBreadcrumb({\n  message: 'Transform Q&A: Processing completed',\n  level: 'info',\n  data: {\n    responseId,\n    answeredQuestions: metadata.answeredQuestions,\n    totalQuestions: metadata.totalQuestions,\n    promptLength: prompt.length,\n    hasAllRequiredAnswers: qaContext\n      .filter(qa => qa.required)\n      .every(qa => qa.answer !== '(brak odpowiedzi)')\n  }\n});\n\n// Return structured data for AI node\nreturn {\n  responseId,\n  tenant_id,\n  surveyTitle,\n  prompt,\n  metadata\n};\n"
      },
      "id": "74bcc22f-ba09-406c-993f-e525a5fea975",
      "name": "Transform Q&A Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "// Initialize Sentry\nconst Sentry = require('@sentry/node');\n\n// Get AI response (from AI Agent node)\nconst aiResponse = $input.first().json;\nconst previousData = $('Transform Q&A Data').first().json;\n\n// Breadcrumb: AI response received\nSentry.addBreadcrumb({\n  message: 'Parse Output: AI response received',\n  level: 'info',\n  data: {\n    responseId: previousData.responseId,\n    hasContent: !!aiResponse.content?.find(c => c.type === 'text')?.text,\n    responseLength: aiResponse.content?.find(c => c.type === 'text')?.text?.length || 0\n  }\n});\n\ntry {\n  // Parse AI response (MiniMax returns content array with thinking + text blocks)\n  const textBlock = aiResponse.content.find(c => c.type === 'text');\n  if (!textBlock) throw new Error('No text block found in AI response');\n  let aiText = textBlock.text;\n\n  // ✅ Remove markdown code blocks if present\n  if (aiText.includes('```')) {\n    // Extract JSON from ```json ... ``` wrapper\n    const jsonMatch = aiText.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/);\n    if (jsonMatch && jsonMatch[1]) {\n      aiText = jsonMatch[1];\n    } else {\n      // Fallback: simple strip\n      aiText = aiText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '');\n    }\n  }\n\n  // ✅ Trim whitespace\n  aiText = aiText.trim();\n\n  const aiAnalysis = JSON.parse(aiText);\n\n  // Structure for database (ai_qualification JSONB field)\n  const qualification = {\n    // Scores (0-10)\n    urgency_score: aiAnalysis.urgency_score,\n    complexity_score: aiAnalysis.complexity_score,\n    value_score: aiAnalysis.value_score,\n    success_probability: aiAnalysis.success_probability,\n\n    // Overall score (weighted average)\n    overall_score: parseFloat((\n      aiAnalysis.urgency_score * 0.3 +\n      aiAnalysis.value_score * 0.3 +\n      aiAnalysis.success_probability * 0.25 +\n      aiAnalysis.complexity_score * 0.15\n    ).toFixed(1)),\n\n    // Analysis\n    summary: aiAnalysis.summary,\n    recommendation: aiAnalysis.recommendation,\n    notes_for_lawyer: aiAnalysis.notes_for_lawyer || [],\n\n    // Metadata\n    analyzed_at: new Date().toISOString(),\n    model: 'MiniMax-M2.7',\n    version: '1.0'\n  };\n\n  // Determine status change based on recommendation\n  let newStatus = null;\n  if (aiAnalysis.recommendation === 'QUALIFIED') {\n    newStatus = 'qualified';\n  } else if (aiAnalysis.recommendation === 'DISQUALIFIED') {\n    newStatus = 'disqualified';\n  }\n  // NEEDS_MORE_INFO leaves status as 'new'\n\n  // Breadcrumb: Parsing succeeded\n  Sentry.addBreadcrumb({\n    message: 'Parse Output: Parsing succeeded',\n    level: 'info',\n    data: {\n      responseId: previousData.responseId,\n      recommendation: aiAnalysis.recommendation,\n      overall_score: qualification.overall_score,\n      newStatus: newStatus || 'new',\n      hasNotes: qualification.notes_for_lawyer.length > 0\n    }\n  });\n\n  return {\n    responseId: previousData.responseId,\n    tenant_id: previousData.tenant_id,\n    qualification,\n    newStatus: newStatus || 'new'\n  };\n\n} catch (error) {\n  // Breadcrumb: Parsing failed\n  Sentry.addBreadcrumb({\n    message: 'Parse Output: Parsing FAILED',\n    level: 'error',\n    data: {\n      responseId: previousData.responseId,\n      errorMessage: error.message,\n      errorType: error.name,\n      rawResponsePreview: aiResponse.content?.find(c => c.type === 'text')?.text?.substring(0, 200) || 'N/A'\n    }\n  });\n \n  // If parsing fails, return error structure\n  return {\n    responseId: previousData.responseId,\n    tenant_id: previousData.tenant_id,\n    qualification: {\n      error: 'Failed to parse AI response',\n      raw_response: aiResponse.content?.find(c => c.type === 'text')?.text || JSON.stringify(aiResponse),\n      analyzed_at: new Date().toISOString()\n    },\n    newStatus: 'new'\n  };\n}\n"
      },
      "id": "22e31d0f-9fd0-469e-83a4-a2df181ff7c2",
      "name": "Parse & Structure Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3104,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "survey_links",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.survey_link_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2080,
        -16
      ],
      "id": "bab8768a-ab55-4deb-9b81-a0cc60f2ad2b",
      "name": "Fetch Survey Link",
      "credentials": {
        "supabaseApi": {
          "id": "f048XNg2A6zhwlWZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "responses",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body.responseId }}"
            }
          ]
        }
      },
      "id": "c374aa1a-33ad-4817-a2e6-9ebe7127259c",
      "name": "Fetch Response",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1856,
        -16
      ],
      "credentials": {
        "supabaseApi": {
          "id": "f048XNg2A6zhwlWZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "surveys",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.survey_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2304,
        -16
      ],
      "id": "5fc81753-dd04-4910-86c8-8b01165a3036",
      "name": "Fetch Survey",
      "credentials": {
        "supabaseApi": {
          "id": "f048XNg2A6zhwlWZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "responses",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.responseId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "ai_qualification",
              "fieldValue": "={{ $json.qualification }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.newStatus }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "id": "b14bfce3-c144-4716-b4e7-3784129d33bf",
      "name": "Update Response with summary",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3328,
        -16
      ],
      "credentials": {
        "supabaseApi": {
          "id": "f048XNg2A6zhwlWZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "kXK1WDkFCo7AsBSs",
          "mode": "list",
          "cachedResultUrl": "/workflow/kXK1WDkFCo7AsBSs",
          "cachedResultName": "Sentry Init"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1632,
        -16
      ],
      "name": "Call Sentry Init",
      "id": "19f964be-eb6a-468a-a0c1-9c77c7eae99f"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "xaU50vf4eiNTeqSf",
          "mode": "list",
          "cachedResultUrl": "/workflow/xaU50vf4eiNTeqSf",
          "cachedResultName": "MiniMax Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2800,
        -16
      ],
      "name": "Call MiniMax Agent",
      "id": "690b555b-8ec7-46c6-9f37-7ad4e3cb0445"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.trustcode.pl",
            "user-agent": "node",
            "content-length": "53",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "85.195.222.114",
            "x-forwarded-host": "n8n.trustcode.pl",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "e659b6829b94",
            "x-real-ip": "85.195.222.114"
          },
          "params": {},
          "query": {},
          "body": {
            "responseId": "145d8bd5-7258-46bc-98f3-9fd777a04691"
          },
          "webhookUrl": "https://n8n.trustcode.pl/webhook/form-confirmation-email",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call Sentry Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Q&A Data": {
      "main": [
        [
          {
            "node": "Call MiniMax Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Structure Output": {
      "main": [
        [
          {
            "node": "Update Response with summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Survey Link": {
      "main": [
        [
          {
            "node": "Fetch Survey",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Response": {
      "main": [
        [
          {
            "node": "Fetch Survey Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Survey": {
      "main": [
        [
          {
            "node": "Transform Q&A Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Sentry Init": {
      "main": [
        [
          {
            "node": "Fetch Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call MiniMax Agent": {
      "main": [
        [
          {
            "node": "Parse & Structure Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "errorWorkflow": "pEvMbZGHKOsqaHmK",
    "callerPolicy": "workflowsFromSameOwner",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "945654ed-edfd-473e-8464-9a6b709d5ee4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b46d0b13d69880a2fec430102877b55af4e44991549a68a3e78cd50a4dc1a09e"
  },
  "id": "jTU4vAtxadyhTe4r",
  "tags": []
}