n8n-workflows/workflows/Workflow Orchestrator.json
{
  "name": "Workflow Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "workflow-orchestrator",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [-800, 300],
      "webhookId": "workflow-orchestrator"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "kXK1WDkFCo7AsBSs",
          "mode": "list",
          "cachedResultUrl": "/workflow/kXK1WDkFCo7AsBSs",
          "cachedResultName": "Sentry Init"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [-580, 300],
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000002",
      "name": "Call Sentry Init"
    },
    {
      "parameters": {
        "jsCode": "// =============================================================\n// Fetch & Initialize — the orchestrator brain\n// =============================================================\n// Reads webhook body, fetches workflow + steps + edges from\n// Supabase, creates execution + step execution records,\n// topologically sorts steps, builds trigger context, and\n// returns the sorted step list for SplitInBatches processing.\n// =============================================================\n\nconst Sentry = require('@sentry/node');\nconst https = require('https');\n\nconst SUPABASE_URL = $env.SUPABASE_URL || 'https://zujwhdoickvsotbrqkot.supabase.co';\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\n\n// ---- Supabase helper (native https, no SDK) ----\n\nasync function supabaseRequest(path, method, body) {\n  const url = `${SUPABASE_URL}/rest/v1/${path}`;\n  return new Promise((resolve, reject) => {\n    const parsed = new URL(url);\n    const options = {\n      hostname: parsed.hostname,\n      path: parsed.pathname + parsed.search,\n      method: method || 'GET',\n      headers: {\n        'apikey': SUPABASE_KEY,\n        'Authorization': `Bearer ${SUPABASE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': method === 'POST' ? 'return=representation' : 'return=representation',\n      },\n    };\n    const req = https.request(options, (res) => {\n      let data = '';\n      res.on('data', (chunk) => data += chunk);\n      res.on('end', () => {\n        try {\n          const parsed = JSON.parse(data);\n          if (res.statusCode >= 400) {\n            reject(new Error(`Supabase ${method} ${path} returned ${res.statusCode}: ${data}`));\n          } else {\n            resolve(parsed);\n          }\n        } catch (e) {\n          reject(new Error(`Parse error for ${path}: ${data}`));\n        }\n      });\n    });\n    req.on('error', reject);\n    if (body) req.write(JSON.stringify(body));\n    req.end();\n  });\n}\n\nfunction uuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, (c) => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\n// ---- Topological sort (Kahn's algorithm — ported from CMS utils.ts) ----\n\nfunction topologicalSort(steps, edges) {\n  const stepMap = new Map(steps.map(s => [s.id, s]));\n  const inDegree = new Map();\n  const adjacency = new Map();\n\n  for (const step of steps) {\n    inDegree.set(step.id, 0);\n    adjacency.set(step.id, []);\n  }\n\n  for (const edge of edges) {\n    if (!stepMap.has(edge.source_step_id) || !stepMap.has(edge.target_step_id)) continue;\n    adjacency.get(edge.source_step_id).push(edge.target_step_id);\n    inDegree.set(edge.target_step_id, (inDegree.get(edge.target_step_id) || 0) + 1);\n  }\n\n  const queue = [];\n  for (const [id, degree] of inDegree) {\n    if (degree === 0) queue.push(id);\n  }\n\n  const sorted = [];\n  while (queue.length > 0) {\n    const current = queue.shift();\n    const step = stepMap.get(current);\n    if (step) sorted.push(step);\n    for (const neighbor of (adjacency.get(current) || [])) {\n      const newDeg = (inDegree.get(neighbor) || 1) - 1;\n      inDegree.set(neighbor, newDeg);\n      if (newDeg === 0) queue.push(neighbor);\n    }\n  }\n\n  if (sorted.length !== steps.length) {\n    throw new Error(`Workflow graph contains a cycle. Sorted ${sorted.length} of ${steps.length} steps.`);\n  }\n  return sorted;\n}\n\n// ---- Build trigger context (ported from CMS utils.ts) ----\n\nfunction buildTriggerContext(triggerType, payload) {\n  const base = { trigger_type: triggerType };\n  switch (triggerType) {\n    case 'survey_submitted':\n      return { ...base, responseId: payload.responseId, surveyLinkId: payload.surveyLinkId };\n    case 'booking_created':\n      return {\n        ...base,\n        appointmentId: payload.appointmentId,\n        ...(payload.responseId && { responseId: payload.responseId }),\n        ...(payload.surveyLinkId && { surveyLinkId: payload.surveyLinkId }),\n        ...(payload.clientEmail && { clientEmail: payload.clientEmail }),\n        ...(payload.appointmentAt && { appointmentAt: payload.appointmentAt }),\n      };\n    case 'lead_scored':\n      return {\n        ...base,\n        responseId: payload.responseId,\n        overallScore: payload.score,\n        recommendation: payload.recommendation,\n        ...(payload.summary && { summary: payload.summary }),\n        ...(payload.analyzedAt && { analyzedAt: payload.analyzedAt }),\n      };\n    default:\n      return base;\n  }\n}\n\n// ---- Main logic ----\n\ntry {\n  const webhookBody = $('Webhook').first().json.body;\n  const { workflowId, triggerPayload, tenantId } = webhookBody;\n\n  if (!workflowId || !tenantId) {\n    throw new Error('Missing required fields: workflowId and tenantId');\n  }\n\n  // 1. Fetch workflow\n  const workflows = await supabaseRequest(\n    `workflows?id=eq.${workflowId}&tenant_id=eq.${tenantId}&is_active=eq.true&limit=1`, 'GET'\n  );\n  if (!workflows.length) {\n    throw new Error(`Workflow ${workflowId} not found or not active for tenant ${tenantId}`);\n  }\n  const workflow = workflows[0];\n\n  // 2. Fetch steps (exclude trigger-type steps — executor skips them)\n  const allSteps = await supabaseRequest(\n    `workflow_steps?workflow_id=eq.${workflowId}&order=position.asc`, 'GET'\n  );\n  const TRIGGER_TYPES = ['survey_submitted', 'booking_created', 'lead_scored', 'manual', 'scheduled'];\n  const steps = allSteps.filter(s => !TRIGGER_TYPES.includes(s.step_type));\n\n  if (steps.length === 0) {\n    throw new Error(`Workflow ${workflowId} has no executable steps`);\n  }\n\n  // 3. Fetch edges\n  const edges = await supabaseRequest(\n    `workflow_edges?workflow_id=eq.${workflowId}`, 'GET'\n  );\n\n  // 4. Circular protection — max depth 1\n  if (triggerPayload && triggerPayload.triggeringExecutionId) {\n    const parentExecs = await supabaseRequest(\n      `workflow_executions?id=eq.${triggerPayload.triggeringExecutionId}&limit=1`, 'GET'\n    );\n    if (parentExecs.length && parentExecs[0].triggering_execution_id) {\n      throw new Error('Circular workflow detected: max depth (1) exceeded');\n    }\n  }\n\n  // 5. Create execution record\n  const executionId = uuid();\n  const triggerType = triggerPayload?.trigger_type || 'manual';\n  await supabaseRequest('workflow_executions', 'POST', {\n    id: executionId,\n    workflow_id: workflowId,\n    tenant_id: tenantId,\n    status: 'running',\n    trigger_payload: triggerPayload || {},\n    triggering_execution_id: triggerPayload?.triggeringExecutionId || null,\n    started_at: new Date().toISOString(),\n  });\n\n  // 6. Create step execution records\n  const stepExecRecords = steps.map(step => ({\n    id: uuid(),\n    execution_id: executionId,\n    step_id: step.id,\n    status: 'pending',\n    started_at: null,\n    completed_at: null,\n    output_payload: null,\n    error_message: null,\n  }));\n  await supabaseRequest('workflow_step_executions', 'POST', stepExecRecords);\n\n  const stepExecMap = {};\n  for (const se of stepExecRecords) {\n    stepExecMap[se.step_id] = se.id;\n  }\n\n  // 7. Topological sort\n  const sortedSteps = topologicalSort(steps, edges);\n\n  // 8. Build trigger context\n  const variableContext = buildTriggerContext(triggerType, triggerPayload || {});\n\n  // 9. Build output items for SplitInBatches\n  const items = sortedSteps.map((step, index) => ({\n    json: {\n      currentStep: step,\n      stepIndex: index,\n      totalSteps: sortedSteps.length,\n      currentStepExecId: stepExecMap[step.id],\n      executionId,\n      workflowId,\n      tenantId,\n      variableContext,\n      edges,\n      allStepExecRecords: stepExecRecords,\n      failed: false,\n    }\n  }));\n\n  Sentry.addBreadcrumb({\n    message: `Orchestrator initialized: ${sortedSteps.length} steps for workflow ${workflowId}`,\n    level: 'info',\n  });\n\n  return items;\n\n} catch (err) {\n  Sentry.captureException(err);\n  await Sentry.flush(2000);\n  throw err;\n}\n"
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000003",
      "name": "Fetch and Initialize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-340, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ received: true, executionId: $json.executionId }) }}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000004",
      "name": "Respond 202 Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-100, 80]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        },
        "batchSize": 1
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000005",
      "name": "Loop Over Steps",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-100, 300]
    },
    {
      "parameters": {
        "jsCode": "// =============================================================\n// Prepare Current Step — resolve variables in config\n// =============================================================\n// Variable resolution and skip-check only. DB status update\n// moved to native Supabase Update node downstream.\n// =============================================================\n\nconst Sentry = require('@sentry/node');\n\n// Resolve {{variable}} placeholders in strings\nfunction resolveVariables(template, context) {\n  if (typeof template !== 'string') return template;\n  return template.replace(/\\{\\{(\\s*[\\w.]+\\s*)\\}\\}/g, (_, rawKey) => {\n    const key = rawKey.trim();\n    const value = getNestedValue(context, key);\n    return (value !== undefined && value !== null) ? String(value) : `{{${key}}}`;\n  });\n}\n\nfunction getNestedValue(obj, path) {\n  const parts = path.split('.');\n  let current = obj;\n  for (const part of parts) {\n    if (current === null || current === undefined || typeof current !== 'object') return undefined;\n    current = current[part];\n  }\n  return current;\n}\n\n// Deep-resolve all string values in an object\nfunction resolveDeep(obj, context) {\n  if (typeof obj === 'string') return resolveVariables(obj, context);\n  if (Array.isArray(obj)) return obj.map(item => resolveDeep(item, context));\n  if (obj && typeof obj === 'object') {\n    const result = {};\n    for (const [key, value] of Object.entries(obj)) {\n      result[key] = resolveDeep(value, context);\n    }\n    return result;\n  }\n  return obj;\n}\n\ntry {\n  const item = $input.first().json;\n\n  // If previous step failed, skip all remaining\n  if (item.failed) {\n    return { json: item };\n  }\n\n  const { currentStep, variableContext } = item;\n\n  // Resolve variables in step_config\n  const resolvedConfig = resolveDeep(currentStep.step_config, variableContext);\n\n  Sentry.addBreadcrumb({\n    message: `Step ${item.stepIndex + 1}/${item.totalSteps}: ${currentStep.step_type} (${currentStep.name || currentStep.id})`,\n    level: 'info',\n  });\n\n  return {\n    json: {\n      ...item,\n      resolvedConfig,\n      stepType: currentStep.step_type,\n    }\n  };\n} catch (err) {\n  Sentry.captureException(err);\n  await Sentry.flush(2000);\n  throw err;\n}\n"
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000006",
      "name": "Prepare Current Step",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [140, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "workflow_step_executions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.currentStepExecId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "status",
              "fieldValue": "running"
            },
            {
              "fieldName": "started_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-2222-4bbb-cccc-000000000001",
      "name": "Mark Step Running",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [340, 300],
      "credentials": {
        "supabaseApi": {
          "id": "f048XNg2A6zhwlWZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.stepType }}",
                    "rightValue": "send_email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-cond-send-email"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.stepType }}",
                    "rightValue": "ai_action",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-cond-ai-action"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.stepType }}",
                    "rightValue": "webhook",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-cond-webhook"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.stepType }}",
                    "rightValue": "condition",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-cond-condition"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.stepType }}",
                    "rightValue": "delay",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-cond-delay"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.failed }}",
                    "rightValue": "={{ true }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "sw-cond-failed"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000007",
      "name": "Route by Step Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [580, 300]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "Step - Send Email Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [860, 0],
      "id": "a1b2c3d4-3333-4ccc-dddd-000000000001",
      "name": "Call Send Email Handler"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "Step - AI Action Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [860, 200],
      "id": "a1b2c3d4-3333-4ccc-dddd-000000000002",
      "name": "Call AI Action Handler"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "Step - Webhook Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [860, 400],
      "id": "a1b2c3d4-3333-4ccc-dddd-000000000003",
      "name": "Call Webhook Handler"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "Step - Condition Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [860, 600],
      "id": "a1b2c3d4-3333-4ccc-dddd-000000000004",
      "name": "Call Condition Handler"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "Step - Delay Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [860, 800],
      "id": "a1b2c3d4-3333-4ccc-dddd-000000000005",
      "name": "Call Delay Handler"
    },
    {
      "parameters": {
        "jsCode": "// Failed / skipped passthrough — just forward the item\nconst item = $input.first().json;\nreturn { json: item };\n"
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000018",
      "name": "Skip Failed Step",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 1000]
    },
    {
      "parameters": {
        "jsCode": "// Unknown step type handler\nconst item = $input.first().json;\nreturn {\n  json: {\n    ...item,\n    stepResult: {\n      success: false,\n      error: `Unknown step type: ${item.stepType}`,\n    },\n  }\n};\n"
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000019",
      "name": "Unknown Type Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 1200]
    },
    {
      "parameters": {
        "jsCode": "// =============================================================\n// Process Step Result — merge context, handle failure/skipping\n// =============================================================\n// Merges subworkflow output into the loop item's variableContext.\n// DB status updates moved to native Supabase nodes downstream.\n// =============================================================\n\nconst Sentry = require('@sentry/node');\n\ntry {\n  const item = $input.first().json;\n  const { currentStepExecId, executionId, variableContext, currentStep } = item;\n\n  // If already in failed passthrough mode, just return\n  if (item.failed) {\n    return { json: item };\n  }\n\n  // Get step result from subworkflow output\n  // Subworkflows return { stepResult, skippedStepIds?, alreadyPersisted? }\n  let stepResult = item.stepResult;\n\n  // Fallback if no result set\n  if (!stepResult) {\n    stepResult = { success: false, error: 'No step result produced' };\n  }\n\n  // Merge output into variable context\n  const updatedContext = { ...variableContext };\n  if (stepResult.success && stepResult.outputPayload) {\n    Object.assign(updatedContext, stepResult.outputPayload);\n  }\n\n  // Prepare DB update fields\n  const now = new Date().toISOString();\n  const alreadyPersisted = item.alreadyPersisted || stepResult.alreadyPersisted || false;\n\n  // If step failed: signal to skip remaining steps\n  if (!stepResult.success) {\n    Sentry.captureException(new Error(`Step failed: ${currentStep.step_type} — ${stepResult.error}`));\n    await Sentry.flush(2000);\n\n    return {\n      json: {\n        ...item,\n        variableContext: updatedContext,\n        failed: true,\n        failureError: stepResult.error,\n        dbStatus: 'failed',\n        dbCompletedAt: now,\n        dbErrorMessage: stepResult.error || 'Unknown error',\n        dbOutputPayload: null,\n        alreadyPersisted,\n        skippedStepIds: item.skippedStepIds || [],\n      }\n    };\n  }\n\n  return {\n    json: {\n      ...item,\n      variableContext: updatedContext,\n      stepResult: null,\n      dbStatus: 'completed',\n      dbCompletedAt: now,\n      dbOutputPayload: JSON.stringify(stepResult.outputPayload || {}),\n      dbErrorMessage: null,\n      alreadyPersisted,\n      skippedStepIds: item.skippedStepIds || [],\n    }\n  };\n\n} catch (err) {\n  Sentry.captureException(err);\n  await Sentry.flush(2000);\n  throw err;\n}\n"
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000020",
      "name": "Process Step Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 500]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.alreadyPersisted }}",
                    "rightValue": "={{ true }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "persist-gate-skip"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "a1b2c3d4-4444-4ddd-eeee-000000000001",
      "name": "Persist Gate",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1340, 500]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "workflow_step_executions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.currentStepExecId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "status",
              "fieldValue": "={{ $json.dbStatus }}"
            },
            {
              "fieldName": "completed_at",
              "fieldValue": "={{ $json.dbCompletedAt }}"
            },
            {
              "fieldName": "output_payload",
              "fieldValue": "={{ $json.dbOutputPayload }}"
            },
            {
              "fieldName": "error_message",
              "fieldValue": "={{ $json.dbErrorMessage }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-4444-4ddd-eeee-000000000002",
      "name": "Update Step Execution",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1560, 600],
      "credentials": {
        "supabaseApi": {
          "id": "f048XNg2A6zhwlWZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =============================================================\n// Handle Skipped Steps + Mark Failed Execution\n// =============================================================\n// After persisting step result, handle condition-branch skipping\n// and mark execution as failed if step failed.\n// =============================================================\n\nconst https = require('https');\n\nconst SUPABASE_URL = $env.SUPABASE_URL || 'https://zujwhdoickvsotbrqkot.supabase.co';\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\n\nasync function supabasePatch(path, body) {\n  const url = `${SUPABASE_URL}/rest/v1/${path}`;\n  return new Promise((resolve, reject) => {\n    const parsed = new URL(url);\n    const options = {\n      hostname: parsed.hostname,\n      path: parsed.pathname + parsed.search,\n      method: 'PATCH',\n      headers: {\n        'apikey': SUPABASE_KEY,\n        'Authorization': `Bearer ${SUPABASE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=representation',\n      },\n    };\n    const req = https.request(options, (res) => {\n      let data = '';\n      res.on('data', (chunk) => data += chunk);\n      res.on('end', () => {\n        if (res.statusCode >= 400) {\n          reject(new Error(`Supabase PATCH ${path}: ${res.statusCode} ${data}`));\n        } else {\n          resolve(data ? JSON.parse(data) : null);\n        }\n      });\n    });\n    req.on('error', reject);\n    req.write(JSON.stringify(body));\n    req.end();\n  });\n}\n\ntry {\n  const item = $input.first().json;\n  const now = new Date().toISOString();\n\n  // Handle skipped steps from condition branching\n  const skippedStepIds = item.skippedStepIds || [];\n  if (skippedStepIds.length > 0) {\n    const allStepExecs = item.allStepExecRecords || [];\n    for (const skipStepId of skippedStepIds) {\n      const skipExec = allStepExecs.find(se => se.step_id === skipStepId);\n      if (skipExec) {\n        await supabasePatch(\n          `workflow_step_executions?id=eq.${skipExec.id}`,\n          { status: 'skipped', completed_at: now }\n        );\n      }\n    }\n  }\n\n  // If step failed, mark execution as failed\n  if (item.failed) {\n    await supabasePatch(\n      `workflow_executions?id=eq.${item.executionId}`,\n      { status: 'failed', completed_at: now, error_message: item.failureError }\n    );\n  }\n\n  // Clean up transient fields before looping back\n  return {\n    json: {\n      ...item,\n      stepResult: null,\n      skippedStepIds: null,\n      dbStatus: undefined,\n      dbCompletedAt: undefined,\n      dbOutputPayload: undefined,\n      dbErrorMessage: undefined,\n      alreadyPersisted: undefined,\n    }\n  };\n} catch (err) {\n  throw err;\n}\n"
      },
      "id": "a1b2c3d4-4444-4ddd-eeee-000000000003",
      "name": "Handle Skipped and Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 500]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "workflow_executions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.executionId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "status",
              "fieldValue": "completed"
            },
            {
              "fieldName": "completed_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-4444-4ddd-eeee-000000000004",
      "name": "Mark Execution Complete",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-100, 600],
      "credentials": {
        "supabaseApi": {
          "id": "f048XNg2A6zhwlWZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if execution was already marked failed — skip completion\nconst items = $input.all();\nconst lastItem = items[items.length - 1].json;\n\nif (lastItem.failed) {\n  // Already marked failed in Handle Skipped and Failed node\n  return { json: { executionId: lastItem.executionId, status: 'failed', skipCompletion: true } };\n}\n\nreturn { json: { executionId: lastItem.executionId, status: 'completed', skipCompletion: false } };\n"
      },
      "id": "a1b2c3d4-4444-4ddd-eeee-000000000005",
      "name": "Check Final Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-320, 600]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.skipCompletion }}",
                    "rightValue": "={{ true }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "completion-gate-skip"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "a1b2c3d4-4444-4ddd-eeee-000000000006",
      "name": "Completion Gate",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [-100, 750]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call Sentry Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Sentry Init": {
      "main": [
        [
          {
            "node": "Fetch and Initialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch and Initialize": {
      "main": [
        [
          {
            "node": "Respond 202 Accepted",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Steps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Steps": {
      "main": [
        [
          {
            "node": "Check Final Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Current Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Current Step": {
      "main": [
        [
          {
            "node": "Mark Step Running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Step Running": {
      "main": [
        [
          {
            "node": "Route by Step Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Step Type": {
      "main": [
        [
          {
            "node": "Call Send Email Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call AI Action Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Webhook Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Condition Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Delay Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Failed Step",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Type Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Send Email Handler": {
      "main": [
        [
          {
            "node": "Process Step Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call AI Action Handler": {
      "main": [
        [
          {
            "node": "Process Step Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Webhook Handler": {
      "main": [
        [
          {
            "node": "Process Step Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Condition Handler": {
      "main": [
        [
          {
            "node": "Process Step Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Delay Handler": {
      "main": [
        [
          {
            "node": "Process Step Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Failed Step": {
      "main": [
        [
          {
            "node": "Process Step Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unknown Type Handler": {
      "main": [
        [
          {
            "node": "Process Step Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Step Result": {
      "main": [
        [
          {
            "node": "Persist Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Gate": {
      "main": [
        [
          {
            "node": "Handle Skipped and Failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Step Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Step Execution": {
      "main": [
        [
          {
            "node": "Handle Skipped and Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Skipped and Failed": {
      "main": [
        [
          {
            "node": "Loop Over Steps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Final Status": {
      "main": [
        [
          {
            "node": "Completion Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Completion Gate": {
      "main": [
        [],
        [
          {
            "node": "Mark Execution Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "pEvMbZGHKOsqaHmK",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "00000000-0000-0000-0000-000000000001",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b46d0b13d69880a2fec430102877b55af4e44991549a68a3e78cd50a4dc1a09e"
  },
  "id": "",
  "tags": []
}
