n8n-workflows/workflows/Workflow Action Executor.json
{
  "name": "Workflow Action Executor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "workflow-action-executor",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "802321a5-2129-45b8-a103-ab2dcd5089d0",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -656,
        288
      ],
      "webhookId": "workflow-action-executor"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "kXK1WDkFCo7AsBSs",
          "mode": "list",
          "cachedResultUrl": "/workflow/kXK1WDkFCo7AsBSs",
          "cachedResultName": "Sentry Init"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -448,
        288
      ],
      "id": "72a27e6b-7c99-414d-b9dd-38f03df4ce3c",
      "name": "Call 'Sentry Init'"
    },
    {
      "parameters": {
        "jsCode": "// Store original webhook data for all branches\nconst webhookData = $('Webhook').first().json.body;\nreturn { json: webhookData };"
      },
      "id": "1efbeb11-5cbf-48ff-8348-c0da5b5a7502",
      "name": "Extract Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        288
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.stepType }}",
                    "rightValue": "send_email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7088781b-5518-4950-ba54-11e0295e314f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.stepType }}",
                    "rightValue": "ai_action",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c93a1123-2684-477f-ad18-e68f2aeeabaf"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.stepType }}",
                    "rightValue": "delay",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1a4d80ff-21b2-4838-a209-4277174b8059"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "2d274644-af25-467e-94dc-6f7860020a6b",
      "name": "Route by Step Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        0,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "// --- send_email branch ---\n// Fetch email template from Supabase, build email payload for Send Email subworkflow.\n\nconst Sentry = require('@sentry/node');\nconst https = require('https');\n\nconst input = $('Extract Payload').first().json;\nconst { stepConfig, triggerPayload } = input;\n\nconst templateId = stepConfig.template_id;\nconst recipientField = stepConfig.recipient || 'notification_email';\n\n// Supabase config — uses service role key\nconst SUPABASE_URL = 'https://zujwhdoickvsotbrqkot.supabase.co';\nconst SUPABASE_KEY = process.env.SUPABASE_SERVICE_ROLE_KEY || $env.SUPABASE_SERVICE_ROLE_KEY;\n\nasync function supabaseGet(table, filters) {\n  const params = new URLSearchParams();\n  for (const [key, value] of Object.entries(filters)) {\n    params.append(key, `eq.${value}`);\n  }\n  params.append('limit', '1');\n\n  const url = `${SUPABASE_URL}/rest/v1/${table}?${params.toString()}`;\n\n  return new Promise((resolve, reject) => {\n    const req = https.request(url, {\n      method: 'GET',\n      headers: {\n        'apikey': SUPABASE_KEY,\n        'Authorization': `Bearer ${SUPABASE_KEY}`,\n        'Content-Type': 'application/json'\n      }\n    }, (res) => {\n      let body = '';\n      res.on('data', (chunk) => body += chunk);\n      res.on('end', () => {\n        try {\n          resolve(JSON.parse(body));\n        } catch (e) {\n          reject(new Error(`Parse error: ${body}`));\n        }\n      });\n    });\n    req.on('error', reject);\n    req.end();\n  });\n}\n\ntry {\n  // Fetch the response to get notification_email from survey_link\n  const responseId = triggerPayload.responseId;\n  const responses = await supabaseGet('responses', { id: responseId });\n  if (!responses.length) throw new Error(`Response ${responseId} not found`);\n  const response = responses[0];\n\n  // Fetch survey link for notification email\n  const surveyLinks = await supabaseGet('survey_links', { id: response.survey_link_id });\n  if (!surveyLinks.length) throw new Error(`Survey link ${response.survey_link_id} not found`);\n  const surveyLink = surveyLinks[0];\n\n  // Fetch email template if template_id provided\n  let subject = stepConfig.subject || 'Notification';\n  let html = stepConfig.html_body || '<p>Notification</p>';\n\n  if (templateId) {\n    const templates = await supabaseGet('email_templates', { id: templateId });\n    if (templates.length && templates[0].html_body) {\n      subject = templates[0].subject || subject;\n      html = templates[0].html_body;\n    }\n  }\n\n  // Determine recipient\n  let to = stepConfig.to;\n  if (!to) {\n    to = surveyLink[recipientField] || surveyLink.notification_email;\n  }\n\n  if (!to) throw new Error('No recipient email resolved');\n\n  return {\n    to,\n    subject,\n    html,\n    tenant_id: response.tenant_id,\n    _stepExecutionId: input.stepExecutionId,\n    _callbackUrl: input.callbackUrl\n  };\n} catch (err) {\n  Sentry.captureException(err);\n  await Sentry.flush(2000);\n  throw err;\n}\n"
      },
      "id": "14e413a3-0c97-4999-be2a-3c22ef1c5a20",
      "name": "Build Email Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        80
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IL4nS-1FRcLA2IlSkvvKY",
          "mode": "list",
          "cachedResultUrl": "/workflow/IL4nS-1FRcLA2IlSkvvKY",
          "cachedResultName": "Send Email"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        512,
        80
      ],
      "id": "2717a060-5161-4f91-91fb-a70e92581e3c",
      "name": "Call 'Send Email'"
    },
    {
      "parameters": {
        "amount": "={{ $('Extract Payload').first().json.stepConfig.duration_minutes || 1 }}",
        "unit": "minutes"
      },
      "id": "68847282-a5d0-4d88-94a6-700d6780dfd1",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        272,
        480
      ],
      "webhookId": "59ec004d-d45b-4692-867c-29dfd64264f5"
    },
    {
      "parameters": {
        "jsCode": "// Prepare delay output with metadata for callback\nconst input = $('Extract Payload').first().json;\nreturn {\n  delay_completed: true,\n  duration_minutes: input.stepConfig.duration_minutes,\n  _stepExecutionId: input.stepExecutionId,\n  _callbackUrl: input.callbackUrl\n};"
      },
      "id": "f4be4167-5d81-4b63-bf8c-3aae18197b07",
      "name": "Delay Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merge outputs from all branches and prepare callback payload.\n// Only one branch will have data — the others will be empty.\n\nconst Sentry = require('@sentry/node');\n\nlet output = {};\nlet stepExecutionId, callbackUrl;\n\ntry {\n  // Try each branch — only one will have items\n  const branches = [\n    { name: \"Call 'Send Email'\", key: 'email_result' },\n    { name: 'Call AI Model', key: 'ai_result' },\n    { name: 'Delay Output', key: 'delay_result' }\n  ];\n\n  for (const branch of branches) {\n    try {\n      const items = $(branch.name).all();\n      if (items.length > 0) {\n        const data = items[0].json;\n        stepExecutionId = data._stepExecutionId;\n        callbackUrl = data._callbackUrl;\n        // Remove internal fields from output\n        const { _stepExecutionId, _callbackUrl, ...rest } = data;\n        output = rest;\n        break;\n      }\n    } catch (e) {\n      // Branch not executed — skip\n    }\n  }\n\n  // Fallback: get from original payload if branches didn't set it\n  if (!stepExecutionId) {\n    const original = $('Extract Payload').first().json;\n    stepExecutionId = original.stepExecutionId;\n    callbackUrl = original.callbackUrl;\n  }\n\n  return {\n    step_execution_id: stepExecutionId,\n    status: 'completed',\n    output_payload: output,\n    _callbackUrl: callbackUrl\n  };\n} catch (err) {\n  Sentry.captureException(err);\n  await Sentry.flush(2000);\n  throw err;\n}\n"
      },
      "id": "cf7da93b-9b9f-4c2a-ba24-310ca388f7bb",
      "name": "Prepare Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json._callbackUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.WORKFLOW_TRIGGER_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ step_execution_id: $json.step_execution_id, status: $json.status, output_payload: $json.output_payload }) }}",
        "options": {}
      },
      "id": "92a0cb30-eae8-441e-9710-1c9b26303df1",
      "name": "Callback Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        288
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ received: true, stepExecutionId: $('Extract Payload').first().json.stepExecutionId }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "7f7877a7-da55-42b6-b6e7-4117b80143ab",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Error handler — called when any branch fails.\n// Sends failure callback to CMS workflow engine.\n\nconst Sentry = require('@sentry/node');\n\nconst input = $('Extract Payload').first().json;\nconst errorMessage = $input.first().json?.error?.message\n  || $input.first().json?.message\n  || 'Unknown error in n8n workflow execution';\n\nSentry.captureException(new Error(`[Workflow Action Executor] Step failed: ${errorMessage}`));\nawait Sentry.flush(2000);\n\nreturn {\n  step_execution_id: input.stepExecutionId,\n  status: 'failed',\n  error: errorMessage,\n  _callbackUrl: input.callbackUrl\n};"
      },
      "id": "13671e3c-a322-4fef-902b-c09203563f96",
      "name": "Handle Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        784
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json._callbackUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.WORKFLOW_TRIGGER_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ step_execution_id: $json.step_execution_id, status: $json.status, error: $json.error }) }}",
        "options": {}
      },
      "id": "6e594253-0195-4bce-be21-bd329dccbe3f",
      "name": "Callback Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        592
      ]
    },
    {
      "parameters": {
        "jsCode": "// Unsupported step type handler\nconst input = $('Extract Payload').first().json;\nreturn {\n  step_execution_id: input.stepExecutionId,\n  status: 'failed',\n  error: `Unsupported step type: ${input.stepType}`,\n  _callbackUrl: input.callbackUrl\n};"
      },
      "id": "2d15c170-9e4f-477b-8a88-8112c6bd252a",
      "name": "Unsupported Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        688
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "xaU50vf4eiNTeqSf",
          "mode": "list",
          "cachedResultUrl": "/workflow/xaU50vf4eiNTeqSf",
          "cachedResultName": "MiniMax Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        416,
        288
      ],
      "id": "2d937e13-73ee-4ee3-a8d1-bd0fa014b1c4",
      "name": "Call 'MiniMax Agent'"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call 'Sentry Init'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Sentry Init'": {
      "main": [
        [
          {
            "node": "Extract Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Payload": {
      "main": [
        [
          {
            "node": "Route by Step Type",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Step Type": {
      "main": [
        [
          {
            "node": "Build Email Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'MiniMax Agent'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unsupported Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Payload": {
      "main": [
        [
          {
            "node": "Call 'Send Email'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Send Email'": {
      "main": [
        [
          {
            "node": "Prepare Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Delay Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay Output": {
      "main": [
        [
          {
            "node": "Prepare Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Callback": {
      "main": [
        [
          {
            "node": "Callback Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unsupported Type": {
      "main": [
        [
          {
            "node": "Callback Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'MiniMax Agent'": {
      "main": [
        [
          {
            "node": "Prepare Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "pEvMbZGHKOsqaHmK",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "637a9423-47de-46e8-89be-384d5aa0a1e1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b46d0b13d69880a2fec430102877b55af4e44991549a68a3e78cd50a4dc1a09e"
  },
  "id": "zH7_y6L18G1bB5tSmo2uJ",
  "tags": []
}