n8n-workflows/workflows/Workflows/Step - Get Appointment Handler.json
{
  "active": true,
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Save Input Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Input Payload": {
      "main": [
        [
          {
            "node": "Fetch Appointment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "id": "R36cG0LrbwCNDUQl",
  "meta": null,
  "name": "Step - Get Appointment Handler",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "1fbcce53-3656-4aed-8c63-13fa0d6a6e47",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        2656,
        1232
      ]
    },
    {
      "parameters": {
        "jsCode": "// =============================================================\n// Save Input Payload — audit per attempt (T-209)\n// =============================================================\n// Save resolved appointmentId BEFORE Supabase fetch.\n// =============================================================\n\n// @inline env-supabase-preamble\nconst https = require('https');\n\nconst SUPABASE_URL = $env.SUPABASE_URL;\nif (!SUPABASE_URL) throw new Error('SUPABASE_URL environment variable not configured');\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\n// @end-inline env-supabase-preamble\n\n// @inline supabase-request\nasync function supabaseRequest(path, method, body, opts) {\n  const url = `${SUPABASE_URL}/rest/v1/${path}`;\n  return new Promise((resolve, reject) => {\n    const match = url.match(/^https?:\\/\\/([^/]+)(\\/.*)$/);\n    if (!match) { reject(new Error('Invalid SUPABASE_URL')); return; }\n    const prefer = (opts && opts.prefer) || 'return=representation';\n    const options = {\n      hostname: match[1],\n      path: match[2],\n      method: method || 'GET',\n      headers: {\n        'apikey': SUPABASE_KEY,\n        'Authorization': `Bearer ${SUPABASE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': prefer,\n      },\n    };\n    const req = https.request(options, (res) => {\n      let data = '';\n      res.on('data', (chunk) => data += chunk);\n      res.on('end', () => {\n        if (res.statusCode >= 400) {\n          reject(new Error(`Supabase ${method || 'GET'} ${path} ${res.statusCode}: ${data}`));\n          return;\n        }\n        try {\n          resolve(data ? JSON.parse(data) : null);\n        } catch (e) {\n          reject(new Error(`Parse error for ${path}: ${data}`));\n        }\n      });\n    });\n    req.on('error', reject);\n    if (body !== undefined && body !== null) req.write(JSON.stringify(body));\n    req.end();\n  });\n}\n// @end-inline supabase-request\n\nconst item = $input.first().json;\nconst { resolvedConfig, variableContext, tenantId } = item;\nconst appointmentId = (resolvedConfig && resolvedConfig.appointmentIdExpression) ?? (variableContext && variableContext.appointmentId) ?? null;\nconst inputPayload = {\n  appointmentId,\n  tenant_id: tenantId,\n};\n\nif (item.currentStepExecId) {\n  await supabaseRequest(\n    `workflow_step_executions?id=eq.${item.currentStepExecId}`,\n    'PATCH',\n    { input_payload: inputPayload }\n  );\n}\n\nreturn { json: item };\n"
      },
      "id": "e66ad994-7242-46ed-92bb-34be733e4f4b",
      "name": "Save Input Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        1232
      ]
    },
    {
      "parameters": {
        "jsCode": "// =============================================================\n// Get Appointment Handler — fetch appointment data\n// =============================================================\n// Reads resolvedConfig.appointmentIdExpression (pre-resolved by\n// Orchestrator) or falls back to variableContext.appointmentId,\n// fetches the appointment row from Supabase with tenant_id filter\n// (security), and returns the 6 fields of the get_appointment\n// output schema.\n// =============================================================\n\n// @inline env-supabase-preamble\nconst https = require('https');\n\nconst SUPABASE_URL = $env.SUPABASE_URL;\nif (!SUPABASE_URL) throw new Error('SUPABASE_URL environment variable not configured');\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\n// @end-inline env-supabase-preamble\n\n// @inline supabase-request\nasync function supabaseRequest(path, method, body, opts) {\n  const url = `${SUPABASE_URL}/rest/v1/${path}`;\n  return new Promise((resolve, reject) => {\n    const match = url.match(/^https?:\\/\\/([^/]+)(\\/.*)$/);\n    if (!match) { reject(new Error('Invalid SUPABASE_URL')); return; }\n    const prefer = (opts && opts.prefer) || 'return=representation';\n    const options = {\n      hostname: match[1],\n      path: match[2],\n      method: method || 'GET',\n      headers: {\n        'apikey': SUPABASE_KEY,\n        'Authorization': `Bearer ${SUPABASE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': prefer,\n      },\n    };\n    const req = https.request(options, (res) => {\n      let data = '';\n      res.on('data', (chunk) => data += chunk);\n      res.on('end', () => {\n        if (res.statusCode >= 400) {\n          reject(new Error(`Supabase ${method || 'GET'} ${path} ${res.statusCode}: ${data}`));\n          return;\n        }\n        try {\n          resolve(data ? JSON.parse(data) : null);\n        } catch (e) {\n          reject(new Error(`Parse error for ${path}: ${data}`));\n        }\n      });\n    });\n    req.on('error', reject);\n    if (body !== undefined && body !== null) req.write(JSON.stringify(body));\n    req.end();\n  });\n}\n// @end-inline supabase-request\n\ntry {\n  const item = $input.first().json;\n  const { variableContext, tenantId } = item;\n\n  // Resolve appointmentId: use resolvedConfig.appointmentIdExpression (pre-resolved by Orchestrator)\n  // or fall back to variableContext.appointmentId for backward compat\n  const appointmentId = item.resolvedConfig?.appointmentIdExpression ?? variableContext?.appointmentId;\n  if (!appointmentId) throw new Error('get_appointment: appointmentIdExpression did not resolve to a valid ID');\n\n  const safeTenantId = tenantId ?? '00000000-0000-0000-0000-000000000000';\n\n  // Fetch appointment row with tenant_id filter (security)\n  const appointments = await supabaseRequest(\n    `appointments?id=eq.${appointmentId}&tenant_id=eq.${encodeURIComponent(safeTenantId)}&select=id,start_time,end_time,status,calendar_provider,calendar_event_id&limit=1`\n  );\n  if (!appointments.length) throw new Error(`Appointment ${appointmentId} not found for tenant ${safeTenantId}`);\n  const appt = appointments[0];\n\n  return {\n    json: {\n      ...item,\n      stepResult: {\n        success: true,\n        outputPayload: {\n          appointmentId: appt.id,\n          appointmentStartTime: appt.start_time || null,\n          appointmentEndTime: appt.end_time || null,\n          appointmentStatus: appt.status || null,\n          calendarProvider: appt.calendar_provider || null,\n          calendarEventId: appt.calendar_event_id || null,\n        },\n      },\n    }\n  };\n} catch (err) {\n  const item = $input.first().json;\n  return { json: { ...item, stepResult: { success: false, error: err.message } } };\n}\n"
      },
      "id": "c6d9143e-6c0a-4dee-8c26-54c23722ff68",
      "name": "Fetch Appointment Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3104,
        1232
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "errorWorkflow": "pEvMbZGHKOsqaHmK",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed"
  },
  "tags": [],
  "versionId": "7064e74e-690a-4da1-a0a3-51de5ed776fe"
}
