n8n-workflows/workflows/Workflows/Step - Switch Handler.json
{
  "name": "Step - Switch Handler",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "4009dae4-5836-452b-9d5a-e1cc5d0f1d09",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        2400,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "// =============================================================\n// Evaluate Switch — N-way branch router\n// =============================================================\n// CANONICAL SOURCE: apps/cms/features/workflows/engine/condition-evaluator.ts\n// Changes to this logic must be mirrored in the CMS TypeScript source.\n// =============================================================\n// Iterates branches in order. First-match-wins.\n// Branch with expression 'default' always matches (used as catch-all, always last).\n// Returns outputPayload: { branch: matchedBranchId }\n// Computes skippedStepIds: steps only reachable via non-matched branches.\n// =============================================================\n\nconst OPERATORS = ['>=', '<=', '!=', '==', '>', '<', 'contains', 'in'];\n\nfunction escapeRegex(str) {\n  return str.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n}\n\nfunction parseExpression(expression) {\n  const trimmed = expression.trim();\n  for (const op of OPERATORS) {\n    const pattern = (op === 'contains' || op === 'in')\n      ? new RegExp(`^(.+?)\\\\s+${op}\\\\s+(.+)$`)\n      : new RegExp(`^(.+?)\\\\s*${escapeRegex(op)}\\\\s*(.+)$`);\n    const match = trimmed.match(pattern);\n    if (match) {\n      return { field: match[1].trim(), operator: op, value: match[2].trim() };\n    }\n  }\n  return null;\n}\n\nfunction getNestedValue(obj, path) {\n  const parts = path.split('.');\n  let current = obj;\n  for (const part of parts) {\n    if (current === null || current === undefined || typeof current !== 'object') return undefined;\n    current = current[part];\n  }\n  return current;\n}\n\nfunction resolveField(field, context) {\n  const cleanField = field.replace(/^\\{\\{|\\}\\}$/g, '').trim();\n  return getNestedValue(context, cleanField);\n}\n\nfunction coerceNumeric(value) {\n  const num = Number(value);\n  return Number.isNaN(num) ? value : num;\n}\n\nfunction compare(fieldValue, operator, rawValue) {\n  switch (operator) {\n    case '==': return String(fieldValue) === rawValue;\n    case '!=': return String(fieldValue) !== rawValue;\n    case '>': case '<': case '>=': case '<=': {\n      const left = typeof fieldValue === 'number' ? fieldValue : Number(fieldValue);\n      const right = coerceNumeric(rawValue);\n      if (typeof right !== 'number' || Number.isNaN(left)) return false;\n      if (operator === '>') return left > right;\n      if (operator === '<') return left < right;\n      if (operator === '>=') return left >= right;\n      if (operator === '<=') return left <= right;\n      return false;\n    }\n    case 'contains': return String(fieldValue).includes(rawValue);\n    case 'in': {\n      const list = rawValue.split(',').map(v => v.trim());\n      return list.includes(String(fieldValue));\n    }\n  }\n  return false;\n}\n\nfunction evaluateExpression(expression, context) {\n  const parsed = parseExpression(expression);\n  if (!parsed) return false;\n  let fieldValue = resolveField(parsed.field, context);\n  if (fieldValue === undefined) {\n    fieldValue = coerceNumeric(parsed.field);\n    if (typeof fieldValue === 'string' && fieldValue === parsed.field) {\n      fieldValue = parsed.field;\n    }\n  }\n  return compare(fieldValue, parsed.operator, parsed.value);\n}\n\n// ---- Main ----\n\ntry {\n  const item = $input.first().json;\n  const { resolvedConfig, variableContext, currentStep: step, edges } = item;\n\n  const branches = (resolvedConfig.branches || []);\n\n  // First-match-wins: iterate branches in order\n  let matchedId = null;\n  for (const branch of branches) {\n    const expr = (branch.expression || '').trim();\n    if (expr === 'default') {\n      matchedId = branch.id;\n      break;\n    }\n    if (evaluateExpression(expr, variableContext)) {\n      matchedId = branch.id;\n      break;\n    }\n  }\n\n  if (!matchedId) {\n    // No default branch and no expression matched — fail safely\n    return {\n      json: {\n        ...item,\n        stepResult: {\n          success: false,\n          error: 'Switch: no matching branch and no default branch defined',\n        },\n      }\n    };\n  }\n\n  // Skip-propagation: same algorithm as condition handler\n  // Non-matched branches → their targets are skip candidates\n  const switchEdges = edges.filter(e => e.source_step_id === step.id);\n  const nonTakenEdges = switchEdges.filter(\n    e => e.condition_branch && e.condition_branch !== matchedId\n  );\n  const skipTargetIds = new Set();\n\n  for (const edge of nonTakenEdges) {\n    const targetId = edge.target_step_id;\n    const allIncoming = edges.filter(e => e.target_step_id === targetId);\n    const hasAlternatePath = allIncoming.some(e =>\n      e.source_step_id !== step.id ||\n      e.condition_branch === matchedId ||\n      e.condition_branch === null\n    );\n    if (!hasAlternatePath) {\n      skipTargetIds.add(targetId);\n    }\n  }\n\n  // Recursively propagate skips downstream\n  const allSkipped = new Set(skipTargetIds);\n  let changed = true;\n  while (changed) {\n    changed = false;\n    for (const edge of edges) {\n      if (allSkipped.has(edge.source_step_id) && !allSkipped.has(edge.target_step_id)) {\n        const incomingEdges = edges.filter(e => e.target_step_id === edge.target_step_id);\n        const allIncomingSkipped = incomingEdges.every(e => allSkipped.has(e.source_step_id));\n        if (allIncomingSkipped) {\n          allSkipped.add(edge.target_step_id);\n          changed = true;\n        }\n      }\n    }\n  }\n\n  return {\n    json: {\n      ...item,\n      stepResult: {\n        success: true,\n        outputPayload: { branch: matchedId },\n      },\n      skippedStepIds: Array.from(allSkipped),\n    }\n  };\n\n} catch (err) {\n  const item = $input.first().json;\n  return {\n    json: {\n      ...item,\n      stepResult: { success: false, error: err.message },\n    }\n  };\n}\n"
      },
      "id": "8c452866-e68e-4df2-8c3a-8574a822879a",
      "name": "Evaluate Switch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2624,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "// =============================================================\n// Save Input Payload — audit per attempt (T-209)\n// =============================================================\n// Switch is pure compute — save resolvedConfig (cases array)\n// after evaluation. Audit-only; no external call.\n// =============================================================\n\nconst https = require('https');\n\nconst SUPABASE_URL = $env.SUPABASE_URL;\nif (!SUPABASE_URL) throw new Error('SUPABASE_URL environment variable not configured');\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\n\n// @inline supabase-request\nasync function supabaseRequest(path, method, body) {\n  const url = `${SUPABASE_URL}/rest/v1/${path}`;\n  return new Promise((resolve, reject) => {\n    const match = url.match(/^https?:\\/\\/([^/]+)(\\/.*)$/);\n    if (!match) { reject(new Error('Invalid SUPABASE_URL')); return; }\n    const options = {\n      hostname: match[1],\n      path: match[2],\n      method: method || 'GET',\n      headers: {\n        'apikey': SUPABASE_KEY,\n        'Authorization': `Bearer ${SUPABASE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=representation',\n      },\n    };\n    const req = https.request(options, (res) => {\n      let data = '';\n      res.on('data', (chunk) => data += chunk);\n      res.on('end', () => {\n        if (res.statusCode >= 400) {\n          reject(new Error(`Supabase ${method || 'GET'} ${path} ${res.statusCode}: ${data}`));\n          return;\n        }\n        try {\n          resolve(data ? JSON.parse(data) : null);\n        } catch (e) {\n          reject(new Error(`Parse error for ${path}: ${data}`));\n        }\n      });\n    });\n    req.on('error', reject);\n    if (body !== undefined && body !== null) req.write(JSON.stringify(body));\n    req.end();\n  });\n}\n// @end-inline supabase-request\n\nconst item = $input.first().json;\nconst resolvedConfig = item.resolvedConfig || {};\nconst inputPayload = {\n  branches: resolvedConfig.branches || [],\n  matchedBranch: item.stepResult && item.stepResult.outputPayload\n    ? item.stepResult.outputPayload.branch\n    : null,\n};\n\nif (item.currentStepExecId) {\n  await supabaseRequest(\n    `workflow_step_executions?id=eq.${item.currentStepExecId}`,\n    'PATCH',\n    { input_payload: inputPayload }\n  );\n}\n\nreturn { json: item };\n"
      },
      "id": "8b1e02e0-b978-456f-8bbc-1905a37c82da",
      "name": "Save Input Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2848,
        496
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Evaluate Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Switch": {
      "main": [
        [
          {
            "node": "Save Input Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "pEvMbZGHKOsqaHmK",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "c50069bd-a518-4aa1-81da-0929136dde8d",
  "meta": {
    "instanceId": "b46d0b13d69880a2fec430102877b55af4e44991549a68a3e78cd50a4dc1a09e"
  },
  "id": "NHDn17UtUlbQj3m5",
  "tags": []
}