n8n-workflows/workflows/Workflows/Workflow Process Step.json
{
  "name": "Workflow Process Step",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "bf0dd5e1-39d9-4d41-b6ef-224dd04d6654",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        9888,
        27496
      ]
    },
    {
      "parameters": {
        "jsCode": "// =============================================================\n// Prepare Current Step — resolve variables in config\n// =============================================================\n// Uses execution-scoped state keyed by executionId to support\n// concurrent workflow executions. Initializes on stepIndex 0.\n// =============================================================\n\nconst Sentry = require('@sentry/node');\n\nfunction resolveVariables(template, context) {\n  if (typeof template !== 'string') return template;\n  return template.replace(/\\{\\{(\\s*[\\w.]+\\s*)\\}\\}/g, (_, rawKey) => {\n    const key = rawKey.trim();\n    const value = getNestedValue(context, key);\n    return (value !== undefined && value !== null) ? String(value) : `{{${key}}}`;\n  });\n}\n\nfunction getNestedValue(obj, path) {\n  const parts = path.split('.');\n  let current = obj;\n  for (const part of parts) {\n    if (current === null || current === undefined || typeof current !== 'object') return undefined;\n    current = current[part];\n  }\n  return current;\n}\n\nfunction resolveDeep(obj, context) {\n  if (typeof obj === 'string') return resolveVariables(obj, context);\n  if (Array.isArray(obj)) return obj.map(item => resolveDeep(item, context));\n  if (obj && typeof obj === 'object') {\n    const result = {};\n    for (const [key, value] of Object.entries(obj)) {\n      result[key] = resolveDeep(value, context);\n    }\n    return result;\n  }\n  return obj;\n}\n\ntry {\n  const item = $input.first().json;\n  const state = $getWorkflowStaticData('global');\n  const { currentStep, executionId } = item;\n\n  // Initialize execution-scoped state on first step\n  if (item.stepIndex === 0) {\n    // Clean up stale entries older than 2 hours (defensive)\n    for (const key of Object.keys(state)) {\n      const entry = state[key];\n      if (entry && entry._createdAt && (Date.now() - entry._createdAt > 7200000)) {\n        delete state[key];\n      }\n    }\n    state[executionId] = {\n      variableContext: item.initialVariableContext || {},\n      skippedStepIds: [],\n      failed: false,\n      failureError: null,\n      _createdAt: Date.now(),\n    };\n  }\n\n  const execState = state[executionId] || { variableContext: {}, skippedStepIds: [], failed: false };\n\n  if (execState.failed) {\n    return { json: { ...item, failed: true } };\n  }\n\n  if ((execState.skippedStepIds || []).includes(currentStep.id)) {\n    Sentry.addBreadcrumb({\n      message: `Step ${item.stepIndex + 1}/${item.totalSteps}: ${currentStep.step_type} (${currentStep.id}) SKIPPED by condition branch`,\n      level: 'info',\n    });\n    return {\n      json: {\n        ...item,\n        resolvedConfig: currentStep.step_config,\n        stepType: '__skipped__',\n        stepResult: { success: true, outputPayload: { skipped: true } },\n        alreadyPersisted: true,\n      }\n    };\n  }\n\n  const variableContext = execState.variableContext || {};\n  const resolvedConfig = resolveDeep(currentStep.step_config, variableContext);\n\n  Sentry.addBreadcrumb({\n    message: `Step ${item.stepIndex + 1}/${item.totalSteps}: ${currentStep.step_type} (${currentStep.name || currentStep.id})`,\n    level: 'info',\n  });\n\n  return {\n    json: {\n      ...item,\n      variableContext,\n      resolvedConfig,\n      stepType: currentStep.step_type,\n    }\n  };\n} catch (err) {\n  Sentry.captureException(err);\n  await Sentry.flush(2000);\n  throw err;\n}\n"
      },
      "id": "48dcb252-f5f6-4bed-b5c0-01b2320ee031",
      "name": "Prepare Current Step",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10112,
        27496
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "workflow_step_executions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.currentStepExecId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "running"
            },
            {
              "fieldId": "started_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "26dcc03a-70ff-4dac-8e03-534726086d13",
      "name": "Mark Step Running",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        10336,
        27320
      ],
      "credentials": {
        "supabaseApi": {
          "id": "f048XNg2A6zhwlWZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.failed }}",
                    "rightValue": "={{ true }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "sw-cond-failed"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.stepType }}",
                    "rightValue": "__skipped__",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-cond-skipped"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.stepType }}",
                    "rightValue": "send_email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-cond-send_email"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.stepType }}",
                    "rightValue": "ai_action",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-cond-ai_action"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.stepType }}",
                    "rightValue": "webhook",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-cond-webhook"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.stepType }}",
                    "rightValue": "switch",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-cond-switch"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.stepType }}",
                    "rightValue": "delay",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-cond-delay"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.stepType }}",
                    "rightValue": "get_response",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-cond-get_response"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.stepType }}",
                    "rightValue": "update_response",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-cond-update_response"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.stepType }}",
                    "rightValue": "get_survey_link",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-cond-get_survey_link"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.stepType }}",
                    "rightValue": "survey_submitted",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-cond-trigger-survey_submitted"
                  },
                  {
                    "leftValue": "={{ $json.stepType }}",
                    "rightValue": "booking_created",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-cond-trigger-booking_created"
                  },
                  {
                    "leftValue": "={{ $json.stepType }}",
                    "rightValue": "lead_scored",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-cond-trigger-lead_scored"
                  },
                  {
                    "leftValue": "={{ $json.stepType }}",
                    "rightValue": "manual",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-cond-trigger-manual"
                  },
                  {
                    "leftValue": "={{ $json.stepType }}",
                    "rightValue": "scheduled",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-cond-trigger-scheduled"
                  }
                ],
                "combinator": "or"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "b02b4838-5415-4c65-a191-c2996bafb1ee",
      "name": "Route by Step Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        10336,
        27512
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GzqdOgElGDMW8lCI",
          "mode": "list",
          "cachedResultUrl": "/workflow/GzqdOgElGDMW8lCI",
          "cachedResultName": "Step - Send Email Handler"
        },
        "workflowInputs": {
          "mappingMode": "autoMapInputData",
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        10560,
        26832
      ],
      "id": "11730226-d8a5-43dd-864b-bfbe36e02452",
      "name": "Call Send Email Handler"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JFbhvbYqFSit2PfR",
          "mode": "list",
          "cachedResultUrl": "/workflow/JFbhvbYqFSit2PfR",
          "cachedResultName": "Step - AI Action Handler"
        },
        "workflowInputs": {
          "mappingMode": "autoMapInputData",
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        10560,
        27024
      ],
      "id": "1183d906-88b8-49cd-ad53-99fa50a68e4b",
      "name": "Call AI Action Handler"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "AO4IeIFV3w6X1EaC",
          "mode": "list",
          "cachedResultUrl": "/workflow/AO4IeIFV3w6X1EaC",
          "cachedResultName": "Step - Webhook Handler"
        },
        "workflowInputs": {
          "mappingMode": "autoMapInputData",
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        10560,
        27216
      ],
      "id": "da718177-7300-48da-b957-628b7bbbcf5b",
      "name": "Call Webhook Handler"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NHDn17UtUlbQj3m5",
          "mode": "list",
          "cachedResultUrl": "/workflow/NHDn17UtUlbQj3m5",
          "cachedResultName": "Step - Switch Handler"
        },
        "workflowInputs": {
          "mappingMode": "autoMapInputData",
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        10560,
        27408
      ],
      "id": "2f96bb5b-d0ff-4e1b-85f6-8b496b06ecbf",
      "name": "Call Switch Handler"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "EPhZj3Dru3pAU9RU",
          "mode": "list",
          "cachedResultUrl": "/workflow/EPhZj3Dru3pAU9RU",
          "cachedResultName": "Step - Delay Handler"
        },
        "workflowInputs": {
          "mappingMode": "autoMapInputData",
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        10560,
        27600
      ],
      "id": "8dbd901d-0463-4706-843f-967abd0fe00d",
      "name": "Call Delay Handler"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "SrrY3VHXnV47OBvg",
          "mode": "list",
          "cachedResultUrl": "/workflow/SrrY3VHXnV47OBvg",
          "cachedResultName": "Step - Get Response Handler"
        },
        "workflowInputs": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        10560,
        27888
      ],
      "id": "42698552-5f66-4c52-9d2f-f6b155f4f257",
      "name": "Call Get Response Handler"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ms8aRk3Eryq5aSjp",
          "mode": "list",
          "cachedResultUrl": "/workflow/ms8aRk3Eryq5aSjp",
          "cachedResultName": "Step - Update Response Handler"
        },
        "workflowInputs": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        10560,
        28080
      ],
      "id": "2a8e63de-2109-47e3-b790-b9d9678db7eb",
      "name": "Call Update Response Handler"
    },
    {
      "parameters": {
        "jsCode": "// Unknown step type handler\nconst item = $input.first().json;\nreturn {\n  json: {\n    ...item,\n    stepResult: {\n      success: false,\n      error: `Unknown step type: ${item.stepType}`,\n    },\n  }\n};\n"
      },
      "id": "d9de7256-cc36-41e0-a6ff-c524c657e958",
      "name": "Unknown Type Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10560,
        28656
      ]
    },
    {
      "parameters": {
        "jsCode": "// =============================================================\n// Process Step Result — merge context, handle failure/skipping\n// =============================================================\n// Uses execution-scoped state keyed by executionId.\n// Cleans up state entry on last step.\n// =============================================================\n\nconst Sentry = require('@sentry/node');\n\ntry {\n  const item = $input.first().json;\n  const state = $getWorkflowStaticData('global');\n  const { currentStep, executionId } = item;\n  const execState = state[executionId] || { variableContext: {}, skippedStepIds: [], failed: false };\n\n  // If already in failed passthrough mode, just return\n  if (item.failed || execState.failed) {\n    if (item.stepIndex === item.totalSteps - 1) delete state[executionId];\n    return { json: item };\n  }\n\n  // Get step result from subworkflow output\n  let stepResult = item.stepResult;\n  if (!stepResult) {\n    stepResult = { success: false, error: 'No step result produced' };\n  }\n\n  // Namespace step output by step number (1-based topological order) for human-readable templates.\n  // Trigger variables stay flat. Step outputs keyed by step.slug (not positional).\n  // Slug is per-workflow unique, user-editable, persisted on workflow_steps row.\n  // Template syntax: {{slug.fieldName}} — same key on both CMS and runtime sides.\n  if (stepResult.success && stepResult.outputPayload) {\n    const stepKey = currentStep.slug;\n    if (!stepKey) {\n      throw new Error(`Step ${currentStep.id} has no slug — required for variableContext keying`);\n    }\n    execState.variableContext[stepKey] = stepResult.outputPayload;\n  }\n\n  // Accumulate skipped step IDs from condition branching\n  const newSkipped = item.skippedStepIds || [];\n  if (newSkipped.length > 0) {\n    execState.skippedStepIds = [...(execState.skippedStepIds || []), ...newSkipped];\n  }\n\n  // Write back to state\n  state[executionId] = execState;\n\n  // Prepare DB update fields\n  const now = new Date().toISOString();\n  const alreadyPersisted = item.alreadyPersisted || stepResult.alreadyPersisted || false;\n  const isLastStep = item.stepIndex === item.totalSteps - 1;\n\n  // If step failed: signal to skip remaining steps\n  if (!stepResult.success) {\n    execState.failed = true;\n    execState.failureError = stepResult.error;\n    state[executionId] = execState;\n\n    Sentry.captureException(new Error(`Step failed: ${currentStep.step_type} — ${stepResult.error}`));\n    await Sentry.flush(2000);\n\n    if (isLastStep) delete state[executionId];\n\n    return {\n      json: {\n        ...item,\n        variableContext: execState.variableContext,\n        failed: true,\n        failureError: stepResult.error,\n        dbStatus: 'failed',\n        dbCompletedAt: now,\n        dbErrorMessage: stepResult.error || 'Unknown error',\n        dbOutputPayload: null,\n        alreadyPersisted,\n        skippedStepIds: newSkipped,\n      }\n    };\n  }\n\n  if (isLastStep) delete state[executionId];\n\n  return {\n    json: {\n      ...item,\n      variableContext: execState.variableContext,\n      stepResult: null,\n      dbStatus: 'completed',\n      dbCompletedAt: now,\n      dbOutputPayload: stepResult.outputPayload || {},\n      dbErrorMessage: null,\n      alreadyPersisted,\n      skippedStepIds: newSkipped,\n    }\n  };\n\n} catch (err) {\n  Sentry.captureException(err);\n  await Sentry.flush(2000);\n  throw err;\n}\n"
      },
      "id": "6d9ac895-6853-4e56-9ea7-e6dbe5f9e01c",
      "name": "Process Step Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10784,
        27848
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "156WunKSQ2vT9tLz",
          "mode": "list",
          "cachedResultUrl": "/workflow/156WunKSQ2vT9tLz",
          "cachedResultName": "Step - Trigger Handler"
        },
        "workflowInputs": {
          "mappingMode": "autoMapInputData",
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        10560,
        28464
      ],
      "id": "37888e8a-1518-420c-b9fe-24aa779f03c5",
      "name": "Call Trigger Handler"
    },
    {
      "parameters": {
        "jsCode": "// Failed passthrough — just forward the item\nconst item = $input.first().json;\nreturn { json: item };\n"
      },
      "id": "5264e307-81a5-455a-b7cd-9945e7db2fb1",
      "name": "Skip Step",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10560,
        26640
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0bHL4z9dL5YqhT89",
          "mode": "list",
          "cachedResultUrl": "/workflow/0bHL4z9dL5YqhT89",
          "cachedResultName": "Step - Get Survey Link Handler"
        },
        "workflowInputs": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        10560,
        28272
      ],
      "id": "4889e408-bbe1-45ab-921f-cc43cf0388fc",
      "name": "Call Get Survey Link Handler"
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Prepare Current Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Current Step": {
      "main": [
        [
          {
            "node": "Mark Step Running",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route by Step Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Step Type": {
      "main": [
        [
          {
            "node": "Skip Step",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Step Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Send Email Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call AI Action Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Webhook Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Switch Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Delay Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Get Response Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Update Response Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Get Survey Link Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Trigger Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Type Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Get Response Handler": {
      "main": [
        [
          {
            "node": "Process Step Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Update Response Handler": {
      "main": [
        [
          {
            "node": "Process Step Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Send Email Handler": {
      "main": [
        [
          {
            "node": "Process Step Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call AI Action Handler": {
      "main": [
        [
          {
            "node": "Process Step Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Webhook Handler": {
      "main": [
        [
          {
            "node": "Process Step Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Switch Handler": {
      "main": [
        [
          {
            "node": "Process Step Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Delay Handler": {
      "main": [
        [
          {
            "node": "Process Step Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unknown Type Handler": {
      "main": [
        [
          {
            "node": "Process Step Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Trigger Handler": {
      "main": [
        [
          {
            "node": "Process Step Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Step": {
      "main": [
        [
          {
            "node": "Process Step Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Get Survey Link Handler": {
      "main": [
        [
          {
            "node": "Process Step Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "pEvMbZGHKOsqaHmK",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "8ab5da56-514e-4d36-a913-78d39b8f2472",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b46d0b13d69880a2fec430102877b55af4e44991549a68a3e78cd50a4dc1a09e"
  },
  "id": "RWzILX8sZPGkfl1m",
  "tags": []
}