n8n-workflows/workflows/Workflows/Workflow Orchestrator.json
{
  "name": "Workflow Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "workflow-orchestrator",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8442afb8-68e5-4d27-9443-4d840444a704",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        2768,
        17616
      ],
      "webhookId": "workflow-orchestrator"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "kXK1WDkFCo7AsBSs",
          "mode": "list",
          "cachedResultUrl": "/workflow/kXK1WDkFCo7AsBSs",
          "cachedResultName": "Sentry Init"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2992,
        17616
      ],
      "id": "d0fddae6-e4af-4e98-b6a3-df80a4fa2c1a",
      "name": "Call Sentry Init"
    },
    {
      "parameters": {
        "jsCode": "// =============================================================\n// Validate Auth \u2014 extract and validate webhook payload\n// =============================================================\n// Validates Bearer token, extracts workflowId/tenantId/triggerPayload.\n// NO Supabase calls \u2014 those are handled by native Supabase Get nodes.\n// =============================================================\n\nconst Sentry = require('@sentry/node');\n\ntry {\n  // --- Auth: validate shared secret ---\n  const expectedSecret = $env.ORCHESTRATOR_WEBHOOK_SECRET;\n  if (!expectedSecret) {\n    throw new Error('ORCHESTRATOR_WEBHOOK_SECRET not configured in n8n environment');\n  }\n\n  const webhookData = $('Webhook').first().json;\n  const authHeader = webhookData.headers?.authorization || webhookData.headers?.Authorization;\n  if (!authHeader || authHeader !== `Bearer ${expectedSecret}`) {\n    throw new Error('Unauthorized: invalid or missing Bearer token');\n  }\n\n  const { workflowId, triggerPayload, tenantId } = webhookData.body;\n\n  if (!workflowId || !tenantId) {\n    throw new Error('Missing required fields: workflowId and tenantId');\n  }\n\n  return {\n    json: {\n      workflowId,\n      tenantId,\n      triggerPayload: triggerPayload || {},\n    }\n  };\n} catch (err) {\n  Sentry.captureException(err);\n  await Sentry.flush(2000);\n  throw err;\n}\n"
      },
      "id": "3ed236b1-7d8b-4964-9530-b9c5725edf78",
      "name": "Validate Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3216,
        17616
      ]
    },
    {
      "parameters": {
        "jsCode": "// =============================================================\n// Fetch and Initialize Execution\n// =============================================================\n// Fetches workflow, steps, edges from Supabase inline.\n// Then: validates, filters trigger steps, circular protection,\n// creates execution + step execution records, topological sort,\n// builds trigger context, returns sorted step list.\n// =============================================================\n\nconst Sentry = require('@sentry/node');\nconst https = require('https');\n\nconst SUPABASE_URL = $env.SUPABASE_URL;\nif (!SUPABASE_URL) throw new Error('SUPABASE_URL environment variable not configured');\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\n\n// ---- Supabase helper (native https, no SDK) ----\n\nasync function supabaseRequest(path, method, body) {\n  const url = `${SUPABASE_URL}/rest/v1/${path}`;\n  return new Promise((resolve, reject) => {\n    const match = url.match(/^https?:\\/\\/([^/]+)(\\/.*)$/);\n    if (!match) { reject(new Error('Invalid SUPABASE_URL')); return; }\n    const options = {\n      hostname: match[1],\n      path: match[2],\n      method: method || 'GET',\n      headers: {\n        'apikey': SUPABASE_KEY,\n        'Authorization': `Bearer ${SUPABASE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': method === 'POST' ? 'return=representation' : 'return=representation',\n      },\n    };\n    const req = https.request(options, (res) => {\n      let data = '';\n      res.on('data', (chunk) => data += chunk);\n      res.on('end', () => {\n        try {\n          const parsed = JSON.parse(data);\n          if (res.statusCode >= 400) {\n            reject(new Error(`Supabase ${method} ${path} returned ${res.statusCode}: ${data}`));\n          } else {\n            resolve(parsed);\n          }\n        } catch (e) {\n          reject(new Error(`Parse error for ${path}: ${data}`));\n        }\n      });\n    });\n    req.on('error', reject);\n    if (body) req.write(JSON.stringify(body));\n    req.end();\n  });\n}\n\nfunction uuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, (c) => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\n// ---- Topological sort (Kahn's algorithm) ----\n\nfunction topologicalSort(steps, edges) {\n  const stepMap = new Map(steps.map(s => [s.id, s]));\n  const inDegree = new Map();\n  const adjacency = new Map();\n  for (const step of steps) {\n    inDegree.set(step.id, 0);\n    adjacency.set(step.id, []);\n  }\n  for (const edge of edges) {\n    if (!stepMap.has(edge.source_step_id) || !stepMap.has(edge.target_step_id)) continue;\n    adjacency.get(edge.source_step_id).push(edge.target_step_id);\n    inDegree.set(edge.target_step_id, (inDegree.get(edge.target_step_id) || 0) + 1);\n  }\n  const queue = [];\n  for (const [id, degree] of inDegree) {\n    if (degree === 0) queue.push(id);\n  }\n  const sorted = [];\n  while (queue.length > 0) {\n    const current = queue.shift();\n    const step = stepMap.get(current);\n    if (step) sorted.push(step);\n    for (const neighbor of (adjacency.get(current) || [])) {\n      const newDeg = (inDegree.get(neighbor) || 1) - 1;\n      inDegree.set(neighbor, newDeg);\n      if (newDeg === 0) queue.push(neighbor);\n    }\n  }\n  if (sorted.length !== steps.length) {\n    throw new Error(`Workflow graph contains a cycle. Sorted ${sorted.length} of ${steps.length} steps.`);\n  }\n  return sorted;\n}\n\n// ---- Build trigger context ----\n\nfunction buildTriggerContext(triggerType, payload) {\n  // Universal pass-through \u2014 initial variableContext = caller payload + trigger_type.\n  // Triggers carry only the data the caller chose to send. Workflows that need\n  // hydrated data (response, survey_link, appointment, tenant) must use explicit\n  // get_* steps. The trigger_type field is set last so it overrides any caller-\n  // supplied trigger_type to the canonical resolved value.\n  return { ...payload, trigger_type: triggerType };\n}\n\n// ---- Main logic ----\n\ntry {\n  const authData = $('Validate Auth').first().json;\n  const { workflowId, tenantId, triggerPayload } = authData;\n\n  // 1. Fetch workflow, steps, edges (parallel)\n  const [workflowRows, allSteps, edges] = await Promise.all([\n    supabaseRequest(`workflows?id=eq.${workflowId}&tenant_id=eq.${tenantId}&is_active=eq.true`, 'GET'),\n    supabaseRequest(`workflow_steps?workflow_id=eq.${workflowId}`, 'GET'),\n    supabaseRequest(`workflow_edges?workflow_id=eq.${workflowId}`, 'GET'),\n  ]);\n\n  if (!workflowRows.length) {\n    throw new Error(`Workflow ${workflowId} not found or not active for tenant ${tenantId}`);\n  }\n\n  // Override with canonical tenant_id from DB \u2014 caller-supplied tenantId only used\n  // for the existence/auth check above. All downstream operations use the DB value.\n  const canonicalTenantId = workflowRows[0].tenant_id;\n\n  // 2. Filter out trigger-type steps\n  const TRIGGER_TYPES = ['survey_submitted', 'booking_created', 'lead_scored', 'manual', 'scheduled'];\n  const steps = allSteps; // Keep trigger steps \u2014 they now execute via Trigger Handler\n  const executableSteps = steps.filter(s => !TRIGGER_TYPES.includes(s.step_type));\n  if (executableSteps.length === 0) {\n    throw new Error(`Workflow ${workflowId} has no executable steps`);\n  }\n\n  // 3. Circular protection\n  if (triggerPayload && triggerPayload.triggeringExecutionId) {\n    const parentExecs = await supabaseRequest(\n      `workflow_executions?id=eq.${triggerPayload.triggeringExecutionId}&limit=1`, 'GET'\n    );\n    if (parentExecs.length && parentExecs[0].triggering_execution_id) {\n      throw new Error('Circular workflow detected: max depth (1) exceeded');\n    }\n  }\n\n  // 4. Create execution record\n  const executionId = uuid();\n  const triggerType = triggerPayload?.trigger_type || 'manual';\n  await supabaseRequest('workflow_executions', 'POST', {\n    id: executionId,\n    workflow_id: workflowId,\n    tenant_id: canonicalTenantId,\n    status: 'running',\n    trigger_payload: triggerPayload || {},\n    triggering_execution_id: triggerPayload?.triggeringExecutionId || null,\n    started_at: new Date().toISOString(),\n  });\n\n  // 5. Create step execution records\n  const stepExecRecords = steps.map(step => ({\n    id: uuid(),\n    execution_id: executionId,\n    step_id: step.id,\n    status: 'pending',\n    started_at: null,\n    completed_at: null,\n    output_payload: null,\n    error_message: null,\n  }));\n  await supabaseRequest('workflow_step_executions', 'POST', stepExecRecords);\n\n  const stepExecMap = {};\n  for (const se of stepExecRecords) {\n    stepExecMap[se.step_id] = se.id;\n  }\n\n  // 6. Topological sort\n  const sortedSteps = topologicalSort(steps, edges);\n\n  // 7. Build trigger context\n  const variableContext = buildTriggerContext(triggerType, triggerPayload || {});\n\n  // 8. Build output items for SplitInBatches\n  // NOTE: State management moved to Process step subworkflow (state[executionId] pattern)\n  const items = sortedSteps.map((step, index) => ({\n    json: {\n      currentStep: step,\n      stepIndex: index,\n      totalSteps: sortedSteps.length,\n      currentStepExecId: stepExecMap[step.id],\n      executionId,\n      workflowId,\n      tenantId: canonicalTenantId,\n      edges,\n      allStepExecRecords: stepExecRecords,\n      initialVariableContext: variableContext,\n    }\n  }));\n\n  Sentry.addBreadcrumb({\n    message: `Orchestrator initialized: ${sortedSteps.length} steps for workflow ${workflowId}`,\n    level: 'info',\n  });\n\n  return items;\n\n} catch (err) {\n  Sentry.captureException(err);\n  await Sentry.flush(2000);\n  throw err;\n}\n"
      },
      "id": "fa4343db-1a6c-4e99-8411-abc11b9228b5",
      "name": "Fetch and Initialize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3440,
        17616
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ received: true, executionId: $json.executionId }) }}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "79acefe1-026e-4d10-8252-c51a4e3a8bc5",
      "name": "Respond 202 Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3664,
        17520
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "210b8cfc-d7fc-4301-a4e1-afbbd23b71cf",
      "name": "Loop Over Steps",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3664,
        17712
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.alreadyPersisted }}",
                    "rightValue": "={{ true }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "persist-gate-skip"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "b71e2f67-9b2a-45ce-a74f-19b7fd865d80",
      "name": "Persist Gate",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        4112,
        17760
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "workflow_step_executions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.currentStepExecId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.dbStatus }}"
            },
            {
              "fieldId": "completed_at",
              "fieldValue": "={{ $json.dbCompletedAt }}"
            },
            {
              "fieldId": "output_payload",
              "fieldValue": "={{ $json.dbOutputPayload }}"
            },
            {
              "fieldId": "error_message",
              "fieldValue": "={{ $json.dbErrorMessage }}"
            }
          ]
        }
      },
      "id": "c048d6a7-b845-4f1c-a602-9484eebc196b",
      "name": "Update Step Execution",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4336,
        17664
      ],
      "credentials": {
        "supabaseApi": {
          "id": "f048XNg2A6zhwlWZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =============================================================\n// Handle Skipped Steps + Mark Failed Execution\n// =============================================================\n// Reads skippedStepIds from shared state + item. Batch-PATCHes\n// skipped step executions in DB. Marks execution failed if needed.\n// =============================================================\n\nconst https = require('https');\n\nconst SUPABASE_URL = $env.SUPABASE_URL;\nif (!SUPABASE_URL) throw new Error('SUPABASE_URL environment variable not configured');\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\n\nasync function supabasePatch(path, body) {\n  const url = `${SUPABASE_URL}/rest/v1/${path}`;\n  return new Promise((resolve, reject) => {\n    const match = url.match(/^https?:\\/\\/([^/]+)(\\/.*)$/);\n    if (!match) { reject(new Error('Invalid SUPABASE_URL')); return; }\n    const options = {\n      hostname: match[1],\n      path: match[2],\n      method: 'PATCH',\n      headers: {\n        'apikey': SUPABASE_KEY,\n        'Authorization': `Bearer ${SUPABASE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=representation',\n      },\n    };\n    const req = https.request(options, (res) => {\n      let data = '';\n      res.on('data', (chunk) => data += chunk);\n      res.on('end', () => {\n        if (res.statusCode >= 400) {\n          reject(new Error(`Supabase PATCH ${path}: ${res.statusCode} ${data}`));\n        } else {\n          resolve(data ? JSON.parse(data) : null);\n        }\n      });\n    });\n    req.on('error', reject);\n    req.write(JSON.stringify(body));\n    req.end();\n  });\n}\n\ntry {\n  const item = $input.first().json;\n  const now = new Date().toISOString();\n\n  // Handle skipped steps from condition branching (from current iteration's item)\n  const skippedStepIds = item.skippedStepIds || [];\n  if (skippedStepIds.length > 0) {\n    const allStepExecs = item.allStepExecRecords || [];\n    for (const skipStepId of skippedStepIds) {\n      const skipExec = allStepExecs.find(se => se.step_id === skipStepId);\n      if (skipExec) {\n        await supabasePatch(\n          `workflow_step_executions?id=eq.${skipExec.id}`,\n          { status: 'skipped', completed_at: now }\n        );\n      }\n    }\n  }\n\n  // If step failed, mark execution as failed\n  if (item.failed) {\n    await supabasePatch(\n      `workflow_executions?id=eq.${item.executionId}`,\n      { status: 'failed', completed_at: now, error_message: item.failureError }\n    );\n  }\n\n  // Clean up transient fields before looping back\n  return {\n    json: {\n      ...item,\n      stepResult: null,\n      skippedStepIds: null,\n      dbStatus: undefined,\n      dbCompletedAt: undefined,\n      dbOutputPayload: undefined,\n      dbErrorMessage: undefined,\n      alreadyPersisted: undefined,\n    }\n  };\n} catch (err) {\n  throw err;\n}\n"
      },
      "id": "05b5ab0c-b889-4c08-af51-b637ea683ad2",
      "name": "Handle Skipped and Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4336,
        17904
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "workflow_executions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.executionId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "completed_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "40fe9577-1db1-4aed-828c-dcbbaba97383",
      "name": "Mark Execution Complete",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4336,
        17472
      ],
      "credentials": {
        "supabaseApi": {
          "id": "f048XNg2A6zhwlWZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if execution was already marked failed \u2014 skip completion\nconst items = $input.all();\nconst lastItem = items[items.length - 1].json;\n\nif (lastItem.failed) {\n  // Already marked failed in Handle Skipped and Failed node\n  return { json: { executionId: lastItem.executionId, status: 'failed', skipCompletion: true } };\n}\n\nreturn { json: { executionId: lastItem.executionId, status: 'completed', skipCompletion: false } };\n"
      },
      "id": "21ebd596-88cc-4eba-b3f9-8d24d0051bff",
      "name": "Check Final Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3888,
        17472
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.skipCompletion }}",
                    "rightValue": "={{ true }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "completion-gate-skip"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "3ec9487f-b46d-4dbf-baf2-84682c1779ab",
      "name": "Completion Gate",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        4112,
        17472
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RWzILX8sZPGkfl1m",
          "mode": "list",
          "cachedResultUrl": "/workflow/RWzILX8sZPGkfl1m",
          "cachedResultName": "Process step"
        },
        "workflowInputs": {
          "mappingMode": "autoMapInputData",
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3888,
        17760
      ],
      "name": "Call Process step",
      "id": "a351100f-3f5e-4c86-83f6-45396c9c6bc6"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.trustcode.pl",
            "user-agent": "PostmanRuntime/7.53.0",
            "content-length": "316",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br",
            "authorization": "Bearer a0e43e3c094126f01744cf367c4f64d34c27ee6ffd2e3131264f3347f39c4da4",
            "cache-control": "no-cache",
            "content-type": "application/json",
            "postman-token": "fe06507f-9b0a-4597-bc91-249bcfd370a5",
            "x-forwarded-for": "31.61.233.74",
            "x-forwarded-host": "n8n.trustcode.pl",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "e505ac5ac2d0",
            "x-real-ip": "31.61.233.74"
          },
          "params": {},
          "query": {},
          "body": {
            "workflowId": "65c67220-7b6b-45d3-996e-cdb5170b046f",
            "tenantId": "19342448-4e4e-49ba-8bf0-694d5376f953",
            "triggerPayload": {
              "responseId": "2584aca8-6f61-4504-84fb-378b67150eb0",
              "surveyLinkId": "01c54fc5-f6b0-422e-abb2-72d85b145f5e",
              "trigger_type": "survey_submitted"
            }
          },
          "webhookUrl": "https://n8n.trustcode.pl/webhook/workflow-orchestrator",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call Sentry Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Sentry Init": {
      "main": [
        [
          {
            "node": "Validate Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Auth": {
      "main": [
        [
          {
            "node": "Fetch and Initialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch and Initialize": {
      "main": [
        [
          {
            "node": "Respond 202 Accepted",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Steps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Steps": {
      "main": [
        [
          {
            "node": "Check Final Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Process step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Gate": {
      "main": [
        [
          {
            "node": "Handle Skipped and Failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Step Execution",
            "type": "main",
            "index": 0
          },
          {
            "node": "Handle Skipped and Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Skipped and Failed": {
      "main": [
        [
          {
            "node": "Loop Over Steps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Final Status": {
      "main": [
        [
          {
            "node": "Completion Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Completion Gate": {
      "main": [
        [],
        [
          {
            "node": "Mark Execution Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Process step": {
      "main": [
        [
          {
            "node": "Persist Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "pEvMbZGHKOsqaHmK",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "a493905f-f6e0-4948-9bdb-d644e1827f83",
  "meta": {
    "instanceId": "b46d0b13d69880a2fec430102877b55af4e44991549a68a3e78cd50a4dc1a09e"
  },
  "id": "HXEJRGdR2nLn2T0H",
  "tags": []
}
