n8n-workflows/survey-analysis-workflow.json
{
  "name": "Survey Response AI Analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "survey-analysis",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "survey-analysis"
    },
    {
      "parameters": {
        "operation": "getRows",
        "tableId": "surveys",
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "matchAny": false,
        "conditions": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.surveyId }}",
              "condition": "equals"
            }
          ]
        },
        "options": {
          "queryName": {
            "select": "id,title,questions"
          }
        }
      },
      "id": "supabase-fetch",
      "name": "Supabase - Fetch Survey",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "supabaseApi": {
          "id": "{{SUPABASE_CREDENTIAL_ID}}",
          "name": "Legal-Mind Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get data from previous nodes\nconst webhook = $('Webhook').first().json;\nconst survey = $('Supabase - Fetch Survey').first().json;\n\n// Extract data\nconst { responseId, tenant_id, answers } = webhook;\nconst { title: surveyTitle, questions } = survey;\n\n// Build Q&A pairs for AI context\nconst qaContext = questions\n  .sort((a, b) => a.order - b.order)\n  .map(q => {\n    const answer = answers[q.id];\n\n    // Format answer based on type\n    let formattedAnswer;\n    if (Array.isArray(answer)) {\n      formattedAnswer = answer.join(', ');\n    } else if (answer === undefined || answer === null) {\n      formattedAnswer = '(brak odpowiedzi)';\n    } else {\n      formattedAnswer = String(answer);\n    }\n\n    return {\n      question: q.question,\n      type: q.type,\n      answer: formattedAnswer,\n      required: q.required\n    };\n  });\n\n// Build AI prompt\nconst prompt = `\nPrzeanalizuj poniższe zgłoszenie klienta i oceń jego kwalifikację do konsultacji prawnej.\n\nTYTUŁ FORMULARZA: ${surveyTitle}\n\nODPOWIEDZI KLIENTA:\n${qaContext.map((qa, i) => `${i + 1}. ${qa.question}\\n   Odpowiedź: ${qa.answer}`).join('\\n\\n')}\n\nZADANIE:\nOceń to zgłoszenie pod kątem:\n1. **Pilność sprawy** - czy wymaga natychmiastowej reakcji (0-10)\n2. **Złożoność** - jak skomplikowana jest sprawa (0-10)\n3. **Wartość sprawy** - potencjalna wartość ekonomiczna dla kancelarii (0-10)\n4. **Prawdopodobieństwo sukcesu** - czy sprawa ma solidne podstawy (0-10)\n5. **Krótkie podsumowanie** - 1-2 zdania o sprawie\n6. **Rekomendacja** - czy warto umówić konsultację (QUALIFIED / DISQUALIFIED / NEEDS_MORE_INFO)\n7. **Uwagi dla prawnika** - maksymalnie 3 kluczowe punkty do omówienia na spotkaniu\n\nOdpowiedź TYLKO w formacie JSON:\n{\n  \"urgency_score\": 0-10,\n  \"complexity_score\": 0-10,\n  \"value_score\": 0-10,\n  \"success_probability\": 0-10,\n  \"summary\": \"krótkie podsumowanie\",\n  \"recommendation\": \"QUALIFIED | DISQUALIFIED | NEEDS_MORE_INFO\",\n  \"notes_for_lawyer\": [\"punkt 1\", \"punkt 2\", \"punkt 3\"]\n}\n`.trim();\n\n// Return structured data for AI node\nreturn {\n  responseId,\n  tenant_id,\n  surveyTitle,\n  prompt,\n  metadata: {\n    totalQuestions: questions.length,\n    answeredQuestions: qaContext.filter(qa => qa.answer !== '(brak odpowiedzi)').length\n  }\n};"
      },
      "id": "transform-qa",
      "name": "Transform Q&A Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20250710\",\n  \"max_tokens\": 1000,\n  \"temperature\": 0.3,\n  \"system\": \"Jesteś asystentem prawnym dla polskich kancelarii. Analizujesz zgłoszenia klientów i oceniasz ich kwalifikację do konsultacji prawnej. Odpowiadasz TYLKO w formacie JSON bez dodatkowych komentarzy.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ $json.prompt }}\n    }\n  ]\n}",
        "options": {
          "timeout": 30000,
          "retry": {
            "enabled": true,
            "maxRetries": 3,
            "waitBetweenRetries": 5000
          }
        }
      },
      "id": "claude-analysis",
      "name": "Claude Haiku Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{ANTHROPIC_CREDENTIAL_ID}}",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get AI response from Anthropic\nconst aiResponse = $input.first().json;\nconst previousData = $('Transform Q&A Data').first().json;\n\ntry {\n  // Parse AI response (Anthropic returns content in content[0].text)\n  const aiText = aiResponse.content[0].text;\n  const aiAnalysis = JSON.parse(aiText);\n\n  // Structure for database (ai_qualification JSONB field)\n  const qualification = {\n    // Scores (0-10)\n    urgency_score: aiAnalysis.urgency_score,\n    complexity_score: aiAnalysis.complexity_score,\n    value_score: aiAnalysis.value_score,\n    success_probability: aiAnalysis.success_probability,\n\n    // Overall score (weighted average)\n    overall_score: parseFloat((\n      aiAnalysis.urgency_score * 0.3 +\n      aiAnalysis.value_score * 0.3 +\n      aiAnalysis.success_probability * 0.25 +\n      aiAnalysis.complexity_score * 0.15\n    ).toFixed(1)),\n\n    // Analysis\n    summary: aiAnalysis.summary,\n    recommendation: aiAnalysis.recommendation,\n    notes_for_lawyer: aiAnalysis.notes_for_lawyer || [],\n\n    // Metadata\n    analyzed_at: new Date().toISOString(),\n    model: 'claude-haiku-4-5',\n    version: '1.0'\n  };\n\n  // Determine status change based on recommendation\n  let newStatus = null;\n  if (aiAnalysis.recommendation === 'QUALIFIED') {\n    newStatus = 'qualified';\n  } else if (aiAnalysis.recommendation === 'DISQUALIFIED') {\n    newStatus = 'disqualified';\n  }\n  // NEEDS_MORE_INFO leaves status as 'new'\n\n  return {\n    responseId: previousData.responseId,\n    tenant_id: previousData.tenant_id,\n    qualification,\n    newStatus: newStatus || 'new'\n  };\n\n} catch (error) {\n  // If parsing fails, return error structure\n  return {\n    responseId: previousData.responseId,\n    tenant_id: previousData.tenant_id,\n    qualification: {\n      error: 'Failed to parse AI response',\n      raw_response: aiResponse.content?.[0]?.text || JSON.stringify(aiResponse),\n      analyzed_at: new Date().toISOString()\n    },\n    newStatus: 'new'\n  };\n}"
      },
      "id": "parse-output",
      "name": "Parse & Structure Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "responses",
        "filterType": "manual",
        "matchAny": false,
        "conditions": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.responseId }}",
              "condition": "equals"
            }
          ]
        },
        "options": {
          "queryName": {}
        },
        "dataMode": "defineBelow",
        "columnsUi": {
          "columnValues": [
            {
              "column": "ai_qualification",
              "value": "={{ JSON.stringify($json.qualification) }}"
            },
            {
              "column": "status",
              "value": "={{ $json.newStatus }}"
            },
            {
              "column": "updated_at",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "supabase-update",
      "name": "Supabase - Update Response",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1250, 300],
      "credentials": {
        "supabaseApi": {
          "id": "{{SUPABASE_CREDENTIAL_ID}}",
          "name": "Legal-Mind Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendEvent",
        "eventType": "error",
        "message": "n8n workflow failed: survey-analysis",
        "level": "error",
        "additionalFields": {
          "extra": "={{ { workflowId: $workflow.id, executionId: $execution.id, responseId: $('Webhook').first().json.responseId, error: $json.error, timestamp: new Date().toISOString() } }}"
        }
      },
      "id": "sentry-error",
      "name": "Sentry - Error Log",
      "type": "n8n-nodes-base.sentry",
      "typeVersion": 1,
      "position": [1250, 450],
      "credentials": {
        "sentryApi": {
          "id": "{{SENTRY_CREDENTIAL_ID}}",
          "name": "GlitchTip Legal-Mind"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Supabase - Fetch Survey",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Fetch Survey": {
      "main": [
        [
          {
            "node": "Transform Q&A Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Q&A Data": {
      "main": [
        [
          {
            "node": "Claude Haiku Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Haiku Analysis": {
      "main": [
        [
          {
            "node": "Parse & Structure Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Structure Output": {
      "main": [
        [
          {
            "node": "Supabase - Update Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Update Response": {
      "error": [
        [
          {
            "node": "Sentry - Error Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionTimeout": 60,
    "maxExecutionTime": 60000,
    "timezone": "Europe/Warsaw",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none"
  },
  "staticData": null,
  "tags": [],
  "pinData": {},
  "versionId": "1.0.0"
}
